.about {}

.main-content__about {
	margin-bottom: 360px;
}

.about .main-heading {}

.about__heading {
	margin-bottom: 79px;
}

.company-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about__company-info {
	margin-bottom: -10px;
}

.company-info__col {
	width: 50%;
}

.company-info .main-heading {
	width: 75%;
	
	font-size: 2.25rem;
	line-height: 2.813rem;
	text-align: left;
}

.company-info__heading {
	margin-bottom: 20px;
}

.company-info__text {
	margin-bottom: 22px;

	font-size: 1.125rem;
	line-height: 1.44rem;
	letter-spacing: 0.1rem;
}



/**/
.company-info__text:nth-of-type(3) {
	margin-bottom: 30px; /**/
}
/**/



.company-info .main-link {}

.company-info__link:nth-of-type(1) {
	margin-right: 25px;
}

.company-info__img {
	width: 40%;
}

.partners {}

.about__partners {}

.partners__list {
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.partners__item {
	width: 33%;
}

.partners__img {
	width: 100%;
}