.company-info__text-imp {
	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.813rem;
	letter-spacing: 0.1rem;
}

.company-info__text {
	font-size: 1.125rem;
	line-height: 1.44rem;
	letter-spacing: 0.1rem;
}

.partners__list {
	margin: 0;
	padding: 0;
	list-style: none;
}