.about {}

.main-content__about {
	margin-bottom: 360px;
}

.about .main-heading {}

.about__heading {
	margin-bottom: 70px;
}

.company-info {
	display: flex;
	align-items: center;
}

.about__company-info {}

.company-info__col {}

.company-info .main-heading {
	/*width: 75%;*/
	
	font-size: 2.118rem; /*36px*/
	line-height: 2.647rem; /*45px*/
	/*text-align: left;*/
}

.company-info__heading {
	margin-bottom: 20px;
}

.company-info__text {
	margin: 0;
	margin-bottom: 25px;

	font-size: 1.059rem; /*18px*/
	line-height: 1.353rem; /*23px*/
	letter-spacing: 0.03rem; /*0.03em=3%*/
	color: rgba(255, 255, 255, 0.5);
}

.company-info__text:nth-of-type(3) {
	margin-bottom: 30px; 
}

.company-info__img {}

.company-info__links {}

.company-info .main-link {}

.company-info__link:first-child {
	margin-right: 20px;
}

.partners {}

.about__partners {}

.partners__list {
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.partners__item {}

.partners__img {
	width: 100%;
}

/* Mobile */
@media (min-width: 576px) {
	.company-info {
	    flex-direction: column;
	}

	.about__company-info {
		margin-bottom: 25px;
	}

	.company-info__col {
		max-width: 520px;
	}

	.company-info .main-heading {
		width: 380px;

		text-align: center;
	}

	.company-info__heading {
		margin-left: auto;
    	margin-right: auto;
	}

	.company-info__text {
		text-align: center;
	}

	.company-info__img {
		margin-bottom: 20px;
		width: 335px;
	}

	.company-info__link {}

	.partners__item {
		width: 32%;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.about__company-info {
		margin-bottom: 45px;
	}

	.partners {
		max-width: 620px;
	}

	.about__partners {
		margin-left: auto;
    	margin-right: auto;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.company-info {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
		padding: 0 80px;
	}

	.company-info__col {
		width: 50%;
		max-width: none;
	}

	.company-info .main-heading {
		width: 75%;

		text-align: left;
	}

	.company-info__heading {
		margin-left: 0;
    	margin-right: 0;
	}

	.company-info__text {
		text-align: left;
	}

	.company-info__img {
		margin-bottom: 0;
		width: 40%;
    	max-width: 360px;
	}

	.company-info__link {}

	.partners {
		max-width: none;
	}

	.about__partners {
		margin-left: 0;
    	margin-right: 0;
	}

	.partners__item {
		width: 30%;
	}
}