/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 versions,>1%
*/

	.call-for-action {
		text-align: center;
	}

	.main-content__call-for-action {
		margin-bottom: 30px;
	}

	.call-for-action .main-heading {}

	.call-for-action__heading {
		margin-bottom: 5px;
		margin-left: auto;
	    margin-right: auto; 
	    width: 127px; 
	}

	.call-for-action__text {
		margin: 0;
		margin-bottom: 100px;
		margin-left: auto; /**/
	    margin-right: auto; /**/
	    width: 147px;

		letter-spacing: 0.03rem;
		color: rgba(255, 255, 255, 0.5);
	}

	.call-for-action .main-link {}

	.call-for-action__link {}




/* Tablet S */
@media (min-width: 576px) {
	.main-content__call-for-action {
		margin-bottom: 160px;
	}

	.call-for-action__heading {
		margin-bottom: 7px;

		width: 380px;
	}

	.call-for-action__text {
		margin-bottom: 255px;

		width: 267px;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.main-content__call-for-action {
		margin-bottom: 275px;
	}

	.call-for-action__heading {
		width: 390px;
	}
}