	.call-for-action {
		text-align: center;
	}

	.main-content__call-for-action {
		margin-bottom: 30px;
	}

	.call-for-action .main-heading {}

	.call-for-action__heading {
		margin-bottom: 5px;
		margin-left: auto;
	    margin-right: auto; 
	    width: 127px; 
	}

	.call-for-action__text {
		margin: 0;
		margin-bottom: 100px;
		margin-left: auto; /**/
	    margin-right: auto; /**/
	    width: 147px;

		letter-spacing: 0.03rem;
		color: rgba(255, 255, 255, 0.5);
	}

	.call-for-action .main-link {}

	.call-for-action__link {}




/* Mobile */
@media (min-width: 576px) {
	.main-content__call-for-action {
		margin-bottom: 200px;
	}

	.call-for-action__heading {
		width: 406px;
	}

	.call-for-action__text {
		width: 267px;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.main-content__call-for-action {
		margin-bottom: 275px;
	}
}