.call-for-action {
	text-align: center;
}

.main-content__call-for-action {
	/*margin: 0 auto 273px;*/
    /*width: 40%;*/
    
    margin-bottom: 275px;
}

.call-for-action .main-heading {}

.call-for-action__heading {
	margin-bottom: 5px;
	margin-left: auto; /**/
    margin-right: auto; /**/

	/*width: 35%;*/
	width: 406px;
}

.call-for-action__text {
	margin: 0;
	margin-bottom: 245px;
	margin-left: auto; /**/
    margin-right: auto; /**/

	/*width: 30%;*/
	width: 267px;

	letter-spacing: 0.03rem;
	color: rgba(255, 255, 255, 0.5);
}

.call-for-action .main-link {}

.call-for-action__link {}

