.call-for-action {
	text-align: center;
}

.main-content__call-for-action {
	/*margin: 0 auto 273px;*/
    /*width: 40%;*/
    
    margin-bottom: 276px;
}

.call-for-action .main-heading {}

.call-for-action__heading {
	margin-bottom: 4px;
	margin-left: auto; /**/
    margin-right: auto; /**/
	width: 40%; /**/
}

.call-for-action__text {
	margin-bottom: 244px;
	margin-left: auto; /**/
    margin-right: auto; /**/
	width: 30%; /**/

	letter-spacing: 0.03rem;
	color: rgba(255, 255, 255, 0.5);
}

.call-for-action .main-link {}

.call-for-action__link {}

