.company-header .logo {
	visibility: hidden;
}

.history {}

.company-content__history,
.company-content__divider {
	margin-bottom: 55px;
}

.company-content__history:last-child {
	margin-bottom: 230px;
}

.history .inner-container_medium,
.divider .inner-container_medium {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.history .main-heading {
	font-weight: 400;
	font-size: 0.824rem; /*14px;*/
	line-height: 0.824rem; /*14px*/
	color: rgba(255, 255, 255, 0.7);
}

.history__title {
	margin-bottom: 17px;
}

.history__date {
	color: #A70808;
}

.history__text {
	margin: 0;
    margin-bottom: 17px;
	text-align: center;
	line-height: 0.824rem; /*14px;*/
    color: rgba(255, 255, 255, 0.5);
}

.history__text:last-child {
	margin-bottom: 0;
}

.history__img-container {
	display: none;
}

.divider__arrow {
	width: 38px;
	fill: rgba(188, 0, 0, 0.7);
	/*transform: rotate(-90deg);*/

	filter: drop-shadow(0 0 10px rgba(188, 0, 0, 0.7));
}

/* Картинки для моб устройств */

body {
	overflow-x: hidden;
}

.history {
	position: relative;
}

.history__img-container-mobile {
	position: absolute;

    width: 200px;
}

.history__img-container-mobile img {
	width: 100%;
	height: auto;
}

.history__img-container-mobile-circle,
.history__img-container-circle {
	position: absolute;

    width: 27px;
    height: 27px;
	border-radius: 50%;
	/*border: 1px solid green;*/

	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.history__img-container-mobile-circle_red,
.history__img-container-circle_red {
	box-shadow: 0 0 16px 0 rgba(188, 0, 0, 1);

	animation-name: pulse-red;
}

.history__img-container-mobile-circle_blue,
.history__img-container-circle_blue {
	box-shadow: 0 0 16px 0 rgba(49, 0, 188, 0.84);

	animation-name: pulse-blue;
}

@keyframes pulse-red {
	0% {
		box-shadow: 0 0 16px 0 rgba(188, 0, 0, 1);
	}
	
	50% {
		box-shadow: 0 0 28px 0 rgba(188, 0, 0, 1);
	}
	
	100% {
		box-shadow: 0 0 60px 0 rgba(188, 0, 0, 1);
	}
}

@keyframes pulse-blue {
	0% {
		box-shadow: 0 0 16px 0 rgba(49, 0, 188, 0.84);
	}
	
	50% {
		box-shadow: 0 0 28px 0 rgba(49, 0, 188, 0.84);
	}
	
	100% {
		box-shadow: 0 0 60px 0 rgba(49, 0, 188, 0.84);
	}
}

.history:nth-of-type(1) .history__img-container-mobile {
	bottom: -180px;
    right: -70px;
}

.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(1) {
	top: 28px;
    left: 41px;
}

.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(2) {
	top: 82px;
    left: 38px;
}

.history:nth-of-type(2) .history__img-container-mobile {
	bottom: -180px;
    left: -50px;
}

.history:nth-of-type(2) .history__img-container-mobile-circle:nth-of-type(1) {
	top: 20px;
    left: 61px;
}

.history:nth-of-type(2) .history__img-container-mobile-circle:nth-of-type(2) {
	top: 56px;
    left: 108px;
    width: 24px;
    height: 24px;
}

.history:nth-of-type(3) .history__img-container-mobile {
	bottom: -140px;
    right: -60px;
}

.history:nth-of-type(4) .history__img-container-mobile {
	bottom: -351px;
    left: -134px;
    width: 300px;
}

.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(1) {
	top: 263px;
    left: 193px;
    width: 29px;
    height: 29px;
}

.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(2) {
	top: 223px;
    left: 210px;
    width: 16px;
    height: 16px;
}

.history:nth-of-type(5) .history__img-container-mobile {
	bottom: -185px;
    right: -70px;
}

.history:nth-of-type(5) .history__img-container-mobile-circle:nth-of-type(1) {
	top: 20px;
    left: 42px;
    width: 29px;
    height: 29px;
}

.history:nth-of-type(5) .history__img-container-mobile-circle:nth-of-type(2) {
	top: 46px;
    left: 104px;
    width: 20px;
    height: 20px;
}

/* END OF Картинки для моб устройств */

/* Blur */

@supports (filter: blur(200px)) {
  /* Браузер поддерживает свойство filter с функцией blur() */
  .blur1 {
  	position: absolute;
	bottom: -200px;
    left: -50px;
	width: 252.92px;
	height: 353.68px;
	background: rgba(49, 0, 188, 0.19);
	filter: blur(200px);
	transform: rotate(1.98deg);
  }
}

/* END OF Blur */






@media (min-width: 576px) {
	body {
		overflow-x: auto;
	}

	.history {
		position: static;
		padding: 0 50px;
	}

	.company-content__history {
		margin-bottom: 25px;
	}

	.company-content__history:nth-of-type(3) {
		margin-bottom: 55px;
	}

	.company-content__history:last-child {
		margin-bottom: 50px;
	}

	.company-content__divider {
		margin-bottom: 65px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		max-width: 580px;
    	padding: 0 25px;
	}

	.history .main-heading {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.059rem; /* 18px */

		font-size: 1.412rem; /*24px;*/
		line-height: 1.471rem; /*25px;*/
	}

	.history__date {
		font-size: 2.118rem; /*36px;*/
		line-height: 2.176rem; /*37px;*/
	}

	.history__text {
		font-size: 0.824rem; /*14px;*/
		line-height: 0.941rem; /*16px;*/
	}

	.history__img-container {
		position: relative;

		display: block;
		width: 300px;
	}

	.history__img-container img {
		width: 100%;
    	height: auto;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 400px;
		margin-top: -130px;
		margin-bottom: -210px;
	}

	.divider__arrow {
		width: 45px;
	}

	.history__img-container-mobile {
		display: none;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(1) {
		top: 60px;
	    left: 214px;
	    width: 41px;
	    height: 41px;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(2) {
		top: 42px;
	    left: 61px;
	    width: 41px;
	    height: 41px;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(3) {
		top: 123px;
	    left: 58px;
	    width: 38px;
	    height: 38px;
	}

	.history:nth-of-type(2) .history__img-container-circle:nth-of-type(1) {
		top: 30px;
	    left: 92px;
	    width: 41px;
	    height: 41px;
	}

	.history:nth-of-type(2) .history__img-container-circle:nth-of-type(2) {
		top: 90px;
	    left: 167px;
	    width: 26px;
	    height: 26px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(1) {
		top: 149px;
	    left: 135px;
	    width: 39px;
	    height: 39px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(2) {
		top: 214px;
	    left: 90px;
	    width: 26px;
	    height: 26px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(3) {
		top: 332px;
	    left: 126px;
	    width: 11px;
	    height: 11px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(4) {
		top: 365px;
	    left: 121px;
	    width: 35px;
	    height: 35px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(5) {
		top: 350px;
	    left: 257px;
	    width: 39px;
	    height: 39px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(6) {
		top: 301px;
	    left: 283px;
	    width: 15px;
	    height: 15px;
	}

	.history:nth-of-type(5) .history__img-container-circle:nth-of-type(1) {
		top: 30px;
	    left: 64px;
	    width: 41px;
	    height: 41px;
	}

	.history:nth-of-type(5) .history__img-container-circle:nth-of-type(2) {
		top: 67px;
	    left: 154px;
	    width: 35px;
	    height: 35px;
	}
}







@media (min-width: 768px) {
	.history {
		padding: 0 60px;
	}

	.company-content__history {
		margin-bottom: 30px;
	}

	.company-content__history:nth-of-type(3) {
		margin-bottom: 30px;
	}

	/*.company-content__history:nth-of-type(3) + .divider {
		margin-bottom: -10px;
	}*/

	/*.company-content__history:nth-of-type(4) {
		margin-bottom: 0;
	}*/

	.company-content__history:last-child {
		margin-bottom: 130px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		max-width: 890px;
	    padding: 0 15px;
	    width: 95%;
	}

	.history .inner-container_medium {
		flex-direction: row;
    	justify-content: space-between;
	}

	.history__col {
		width: 52%;
	}

	.history:nth-of-type(2) .history__col,
	.history:nth-of-type(4) .history__col {
		order: 2;
	}

	.history .main-heading {
		text-align: left;
	}

	.history:nth-of-type(2) .main-heading,
	.history:nth-of-type(4) .main-heading {
		text-align: right;
	}

	.history__text {
		text-align: left;
		font-size: 1rem; /*17px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.history:nth-of-type(2) .history__text,
	.history:nth-of-type(4) .history__text {
		text-align: right;
	}

	/*.history__img-container {
		width: 400px;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 500px;
		margin: 0;
		margin-right: -100px;
    	margin-left: -50px;
	}*/

	.company-content__divider {
		margin-bottom: 25px;
	}

	.divider__arrow {
		width: 65px;
	}

	/*.history:nth-of-type(1) .history__img-container-circle:nth-of-type(1) {
		top: 76px;
	    left: 270px;
	    width: 51px;
	    height: 51px;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(2) {
		top: 53px;
	    left: 78px;
	    width: 51px;
	    height: 51px;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(3) {
		top: 156px;
	    left: 75px;
	    width: 45px;
	    height: 45px;
	}

	.history:nth-of-type(2) .history__img-container-circle:nth-of-type(1) {
		top: 38px;
	    left: 116px;
	    width: 51px;
	    height: 51px;
	}

	.history:nth-of-type(2) .history__img-container-circle:nth-of-type(2) {
		top: 113px;
	    left: 210px;
	    width: 34px;
	    height: 34px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(1) {
		top: 185px;
	    left: 169px;
	    width: 49px;
	    height: 49px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(2) {
		top: 268px;
	    left: 113px;
	    width: 31px;
	    height: 31px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(3) {
		top: 415px;
	    left: 157px;
	    width: 15px;
	    height: 15px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(4) {
		top: 456px;
	    left: 151px;
	    width: 44px;
	    height: 44px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(5) {
		top: 437px;
	    left: 321px;
	    width: 49px;
	    height: 49px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(6) {
		top: 376px;
	    left: 354px;
	    width: 19px;
	    height: 19px;
	}

	.history:nth-of-type(5) .history__img-container-circle:nth-of-type(1) {
		top: 37px;
	    left: 80px;
	    width: 53px;
	    height: 53px;
	}

	.history:nth-of-type(5) .history__img-container-circle:nth-of-type(2) {
		top: 85px;
	    left: 194px;
	    width: 45px;
	    height: 45px;
	}*/






	body {
	    overflow-x: hidden;
	}

	.history {
	    position: relative;
	}

	.history__img-container {
		display: none;
	}

	.history__img-container-mobile {
		top: 100px; 
		display: block;
		width: 400px;
	}

	.history:nth-of-type(2) .inner-container_medium,
	.history:nth-of-type(4) .inner-container_medium {
		justify-content: flex-end;
	}

	.history:nth-of-type(1) .history__img-container-mobile {
		right: 0;
	}

	.history:nth-of-type(2) .history__img-container-mobile {
		left: 0;
	}

	.history:nth-of-type(3) .history__img-container-mobile {
		right: 0;
	}

	.history:nth-of-type(4) .history__img-container-mobile {
		top: -40px;
		left: -40px;
		width: 500px;
	}

	.history:nth-of-type(5) .history__img-container-mobile {
		right: 0;
	}

	.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 81px;
	    left: 286px;
	    width: 53px;
	    height: 53px;
	}

	.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 56px;
	    left: 82px;
	    width: 54px;
	    height: 54px;
	}

	.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(3) {
		top: 166px;
	    left: 80px;
	    width: 48px;
	    height: 48px;
	}

	.history:nth-of-type(2) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 41px;
	    left: 123px;
	    width: 53px;
	    height: 53px;
	}

	.history:nth-of-type(2) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 120px;
	    left: 223px;
	    width: 35px;
	    height: 35px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 185px;
	    left: 169px;
	    width: 49px;
	    height: 49px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 268px;
	    left: 113px;
	    width: 31px;
	    height: 31px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(3) {
		top: 415px;
	    left: 157px;
	    width: 15px;
	    height: 15px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(4) {
		top: 456px;
	    left: 151px;
	    width: 44px;
	    height: 44px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(5) {
		top: 437px;
	    left: 321px;
	    width: 49px;
	    height: 49px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(6) {
		top: 376px;
	    left: 354px;
	    width: 19px;
	    height: 19px;
	}

	.history:nth-of-type(5) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 40px;
	    left: 85px;
	    width: 55px;
	    height: 55px;
	}

	.history:nth-of-type(5) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 90px;
	    left: 206px;
	    width: 46px;
	    height: 46px;
	}

}







@media (min-width: 992px) {
	/* денюшки */
	.history:nth-of-type(1) .inner-container_medium {
		position: relative;
	}

	.history:nth-of-type(1) .inner-container_medium::before {
		position: absolute;
		left: -210px;
    	bottom: -40px;

		width: 166px;
		height: 151px;

		background-image: url("../img/company_money_1.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 166px 151px;

		content: "";
	}

	.history:nth-of-type(3) .inner-container_medium {
		position: relative;
	}

	.history:nth-of-type(3) .inner-container_medium::before {
		position: absolute;
		left: -190px;
    	top: 90px;

		width: 167px;
		height: 149px;

		background-image: url("../img/company_money_2.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 167px 149px;

		content: "";
	}

	.history:nth-of-type(4) .inner-container_medium {
		position: relative;
	}

	.history:nth-of-type(4) .inner-container_medium::before {
		position: absolute;
		left: -90px;
    	bottom: 130px;

		width: 130px;
		height: 117px;

		background-image: url("../img/company_money_3.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 130px 117px;

		content: "";
	}

	/* END OF денюшки */

	.history {
		padding: 0;
	}

	/*.history:nth-of-type(3) + .company-content__divider {
		margin-bottom: -65px;
	}*/

	/*.company-content__history:nth-of-type(4) {
		margin-bottom: -15px;
	}*/

	.company-content__history:last-child {
		margin-bottom: 140px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		width: 74%;
    	max-width: 980px;
	}

	.history__col {
		width: 59%;
	}

	/*.history__img-container {
		width: 500px;
		margin-left: -25px;
		margin-right: -90px;
	}

	.history:nth-of-type(2) .history__img-container {
		margin-right: -25px;
		margin-left: -90px;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 600px;
	    margin-left: -125px;
	    margin-right: -100px;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(1) {
		top: 93px;
	    left: 334px;
	    width: 64px;
	    height: 64px;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(2) {
		top: 66px;
	    left: 96px;
	    width: 64px;
	    height: 64px;
	}

	.history:nth-of-type(1) .history__img-container-circle:nth-of-type(3) {
		top: 194px;
	    left: 93px;
	    width: 56px;
	    height: 56px;
	}

	.history:nth-of-type(2) .history__img-container-circle:nth-of-type(1) {
		top: 48px;
	    left: 144px;
	    width: 63px;
	    height: 63px;
	}

	.history:nth-of-type(2) .history__img-container-circle:nth-of-type(2) {
		top: 141px;
	    left: 261px;
	    width: 41px;
	    height: 41px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(1) {
		top: 213px;
	    left: 194px;
	    width: 54px;
	    height: 54px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(2) {
		top: 306px;
	    left: 129px;
	    width: 36px;
	    height: 36px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(3) {
		top: 474px;
	    left: 179px;
	    width: 18px;
	    height: 18px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(4) {
		top: 523px;
	    left: 173px;
	    width: 48px;
	    height: 48px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(5) {
		top: 499px;
	    left: 367px;
	    width: 56px;
	    height: 56px;
	}

	.history:nth-of-type(4) .history__img-container-circle:nth-of-type(6) {
		top: 429px;
	    left: 405px;
	    width: 22px;
	    height: 22px;
	}

	.history:nth-of-type(5) .history__img-container-circle:nth-of-type(1) {
		top: 46px;
	    left: 99px;
	    width: 65px;
	    height: 65px;
	}

	.history:nth-of-type(5) .history__img-container-circle:nth-of-type(2) {
		top: 105px;
	    left: 241px;
	    width: 54px;
	    height: 54px;
	}*/

	.history__img-container-mobile {
		top: 0;
		width: 500px;
	}

	.history:nth-of-type(4) .history__img-container-mobile {
		top: -200px;
		width: 600px;
	}

	.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 102px;
    	left: 359px;
	    width: 64px;
	    height: 64px;
	}

	.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 72px;
    	left: 105px;
	    width: 64px;
	    height: 64px;
	}

	.history:nth-of-type(1) .history__img-container-mobile-circle:nth-of-type(3) {
		top: 209px;
    	left: 101px;
	    width: 56px;
	    height: 56px;
	}

	.history:nth-of-type(2) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 53px;
    	left: 155px;
	    width: 63px;
	    height: 63px;
	}

	.history:nth-of-type(2) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 152px;
    	left: 280px;
	    width: 41px;
	    height: 41px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 225px;
    	left: 205px;
	    width: 54px;
	    height: 54px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 322px;
    	left: 136px;
	    width: 36px;
	    height: 36px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(3) {
		top: 497px;
    	left: 188px;
	    width: 18px;
	    height: 18px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(4) {
		top: 551px;
    	left: 183px;
	    width: 48px;
	    height: 48px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(5) {
		top: 527px;
    	left: 388px;
	    width: 56px;
	    height: 56px;
	}

	.history:nth-of-type(4) .history__img-container-mobile-circle:nth-of-type(6) {
		top: 452px;
    	left: 427px;
	    width: 22px;
	    height: 22px;
	}

	.history:nth-of-type(5) .history__img-container-mobile-circle:nth-of-type(1) {
		top: 52px;
    	left: 108px;
	    width: 65px;
	    height: 65px;
	}

	.history:nth-of-type(5) .history__img-container-mobile-circle:nth-of-type(2) {
		top: 115px;
    	left: 259px;
	    width: 54px;
	    height: 54px;
	}
}




@media (min-width: 1200px) {
	/*.history:nth-of-type(3) + .company-content__divider {
		margin-bottom: -195px;
	}

	.company-content__history:nth-of-type(4) {
		margin-bottom: -165px;
	}*/
}