.company-header .logo {
	visibility: hidden;
}

.history {}

.company-content__history,
.company-content__divider {
	margin-bottom: 55px;
}

.company-content__history:last-child {
	margin-bottom: 230px;
}

.history .inner-container_medium,
.divider .inner-container_medium {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.history .main-heading {
	font-weight: 400;
	font-size: 0.824rem; /*14px;*/
	line-height: 0.824rem; /*14px*/
	color: rgba(255, 255, 255, 0.7);
}

.history__title {
	margin-bottom: 17px;
}

.history__date {
	color: #A70808;
}

.history__text {
	margin: 0;
    margin-bottom: 17px;
	text-align: center;
	line-height: 0.824rem; /*14px;*/
    color: rgba(255, 255, 255, 0.5);
}

.history__text:last-child {
	margin-bottom: 0;
}

.history__img-container {
	display: none;
}

.divider__arrow {
	fill: rgba(188, 0, 0, 0.7);
	transform: rotate(-90deg);
}







@media (min-width: 576px) {
	.history {
		padding: 0 50px;
	}

	.company-content__history {
		margin-bottom: 25px;
	}

	.company-content__history:nth-of-type(3) {
		margin-bottom: 55px;
	}

	.company-content__history:last-child {
		margin-bottom: 50px;
	}

	.company-content__divider {
		margin-bottom: 65px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		max-width: 580px;
    	padding: 0 25px;
	}

	.history .main-heading {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.059rem; /* 18px */

		font-size: 1.412rem; /*24px;*/
		line-height: 1.471rem; /*25px;*/
	}

	.history__date {
		font-size: 2.118rem; /*36px;*/
		line-height: 2.176rem; /*37px;*/
	}

	.history__text {
		font-size: 0.824rem; /*14px;*/
		line-height: 0.941rem; /*16px;*/
	}

	.history__img-container {
		display: block;
		width: 300px;
	}

	.history__img-container img {
		width: 100%;
    	height: auto;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 400px;
		margin-top: -130px;
		margin-bottom: -210px;
	}
}







@media (min-width: 768px) {
	.history {
		padding: 0 60px;
	}

	.company-content__history:last-child {
		margin-bottom: 130px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		max-width: 890px;
	    padding: 0 15px;
	    width: 95%;
	}

	.history .inner-container_medium {
		flex-direction: row;
    	justify-content: space-between;
	}

	.history__col {
		width: 52%;
	}

	.history:nth-of-type(2) .history__col,
	.history:nth-of-type(4) .history__col {
		order: 2;
	}

	.history .main-heading {
		text-align: left;
	}

	.history:nth-of-type(2) .main-heading,
	.history:nth-of-type(4) .main-heading {
		text-align: right;
	}

	.history__text {
		text-align: left;
		font-size: 1rem; /*17px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.history:nth-of-type(2) .history__text,
	.history:nth-of-type(4) .history__text {
		text-align: right;
	}

	.history__img-container {
		width: 400px;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 500px;
		margin: 0;
		margin-right: -100px;
    	margin-left: -50px;
	}

	.company-content__divider {
		margin-bottom: 25px;
	}
}







@media (min-width: 992px) {}