.company-header .logo {
	visibility: hidden;
}

.history {}

.company-content__history,
.company-content__divider {
	margin-bottom: 55px;
}

.company-content__history:last-child {
	margin-bottom: 230px;
}

.history .inner-container_medium,
.divider .inner-container_medium {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.history .main-heading {
	font-weight: 400;
	font-size: 0.824rem; /*14px;*/
	line-height: 0.824rem; /*14px*/
	color: rgba(255, 255, 255, 0.7);
}

.history__title {
	margin-bottom: 17px;
}

.history__date {
	color: #A70808;
}

.history__text {
	margin: 0;
    margin-bottom: 17px;
	text-align: center;
	line-height: 0.824rem; /*14px;*/
    color: rgba(255, 255, 255, 0.5);
}

.history__text:last-child {
	margin-bottom: 0;
}

.history__img-container {
	display: none;
}

.divider__arrow {
	width: 38px;
	fill: rgba(188, 0, 0, 0.7);
	/*transform: rotate(-90deg);*/

	filter: drop-shadow(0 0 10px rgba(188, 0, 0, 0.7));
}







@media (min-width: 576px) {
	.history {
		padding: 0 50px;
	}

	.company-content__history {
		margin-bottom: 25px;
	}

	.company-content__history:nth-of-type(3) {
		margin-bottom: 55px;
	}

	.company-content__history:last-child {
		margin-bottom: 50px;
	}

	.company-content__divider {
		margin-bottom: 65px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		max-width: 580px;
    	padding: 0 25px;
	}

	.history .main-heading {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.059rem; /* 18px */

		font-size: 1.412rem; /*24px;*/
		line-height: 1.471rem; /*25px;*/
	}

	.history__date {
		font-size: 2.118rem; /*36px;*/
		line-height: 2.176rem; /*37px;*/
	}

	.history__text {
		font-size: 0.824rem; /*14px;*/
		line-height: 0.941rem; /*16px;*/
	}

	.history__img-container {
		display: block;
		width: 300px;
	}

	.history__img-container img {
		width: 100%;
    	height: auto;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 400px;
		margin-top: -130px;
		margin-bottom: -210px;
	}

	.divider__arrow {
		width: 45px;
	}
}







@media (min-width: 768px) {
	.history {
		padding: 0 60px;
	}

	.company-content__history {
		margin-bottom: 30px;
	}

	.company-content__history:nth-of-type(3) {
		margin-bottom: 30px;
	}

	/*.company-content__history:nth-of-type(3) + .divider {
		margin-bottom: -10px;
	}*/

	/*.company-content__history:nth-of-type(4) {
		margin-bottom: 0;
	}*/

	.company-content__history:last-child {
		margin-bottom: 130px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		max-width: 890px;
	    padding: 0 15px;
	    width: 95%;
	}

	.history .inner-container_medium {
		flex-direction: row;
    	justify-content: space-between;
	}

	.history__col {
		width: 52%;
	}

	.history:nth-of-type(2) .history__col,
	.history:nth-of-type(4) .history__col {
		order: 2;
	}

	.history .main-heading {
		text-align: left;
	}

	.history:nth-of-type(2) .main-heading,
	.history:nth-of-type(4) .main-heading {
		text-align: right;
	}

	.history__text {
		text-align: left;
		font-size: 1rem; /*17px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.history:nth-of-type(2) .history__text,
	.history:nth-of-type(4) .history__text {
		text-align: right;
	}

	.history__img-container {
		width: 400px;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 500px;
		margin: 0;
		margin-right: -100px;
    	margin-left: -50px;
	}

	.company-content__divider {
		margin-bottom: 25px;
	}

	.divider__arrow {
		width: 65px;
	}
}







@media (min-width: 992px) {
	/* денюшки */
	.history:nth-of-type(1) .inner-container_medium {
		position: relative;
	}

	.history:nth-of-type(1) .inner-container_medium::before {
		position: absolute;
		left: -210px;
    	bottom: -40px;

		width: 166px;
		height: 151px;

		background-image: url("../img/company_money_1.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 166px 151px;

		content: "";
	}

	.history:nth-of-type(3) .inner-container_medium {
		position: relative;
	}

	.history:nth-of-type(3) .inner-container_medium::before {
		position: absolute;
		left: -190px;
    	top: 90px;

		width: 167px;
		height: 149px;

		background-image: url("../img/company_money_2.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 167px 149px;

		content: "";
	}

	.history:nth-of-type(4) .inner-container_medium {
		position: relative;
	}

	.history:nth-of-type(4) .inner-container_medium::before {
		position: absolute;
		left: -90px;
    	bottom: 130px;

		width: 130px;
		height: 117px;

		background-image: url("../img/company_money_3.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 130px 117px;

		content: "";
	}

	/* END OF денюшки */

	.history {
		padding: 0;
	}

	.history:nth-of-type(3) + .company-content__divider {
		/*margin-bottom: -195px;*/
		margin-bottom: -65px;
	}

	.company-content__history:nth-of-type(4) {
		/*margin-bottom: -165px;*/
		margin-bottom: -15px;
	}

	.company-content__history:last-child {
		margin-bottom: 140px;
	}

	.history .inner-container_medium,
	.divider .inner-container_medium {
		width: 74%;
    	max-width: 980px;
	}

	.history__col {
		width: 59%;
	}

	.history__img-container {
		width: 500px;
		margin-left: -25px;
		margin-right: -90px;
	}

	.history:nth-of-type(2) .history__img-container {
		margin-right: -25px;
		margin-left: -90px;
	}

	.history:nth-of-type(4) .history__img-container {
		width: 600px;
	    margin-left: -125px;
	    margin-right: -100px;
	}
}




@media (min-width: 1200px) {
	.history:nth-of-type(3) + .company-content__divider {
		margin-bottom: -195px;
	}

	.company-content__history:nth-of-type(4) {
		margin-bottom: -165px;
	}
}