.documents-header .logo {
	visibility: hidden;
}

.document {}

.documents-content__document {
	margin-bottom: 80px;
}

.document .inner-container_medium {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.documents-content .main-heading {
	max-width: 200px;

	font-size: 1.059rem; /*18px;*/
	line-height: 1.294rem; /*22px;*/
	font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.document__title {
	margin-bottom: 20px;
}



.document__figure {
	position: relative;

	order: 4;

	margin: 0;
	margin-bottom: 17px;
	/*display: block;*/
    /*width: 90%;*/ /**/
    width: 290px;
}

.document__figure::after {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 1.43px;

	background: #E5E5E5;

	content: "";
}

.document__link {
	position: absolute;
	bottom: 0;
	right: 0;

	display: flex;
    align-items: center;
    justify-content: center;
	width: 26.26px;
	height: 21.96px;
	border-radius: 14px;

	background: rgba(49, 0, 188, 0.26);
	background: linear-gradient(180deg, rgba(188, 0, 0, 0.51) 0%, rgba(49, 0, 188, 0.39) 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	text-decoration: none;
	color: transparent;
}

.document__link:hover {
	text-decoration: none;
	color: transparent;
}

.document__link img {
	width: 14.8px;
	height: auto;
}

.document:nth-of-type(1) .document__link {
	right: 25px;
	bottom: 165px;
}

.document:nth-of-type(2) .document__link {
	right: 25px;
    bottom: 172px;
}

.document:nth-of-type(3) .document__link {
	left: 5px;
    bottom: 122px;
}

.document:nth-of-type(4) .document__link {
	right: 14px;
    bottom: 98px;
}

.document__img {
	/*max-width: 300px;*/
	height: auto;
	width: 100%;
}

.document__text {
	margin: 0;
	margin-bottom: 17px;

	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.document__text:last-child {
	margin: 0;

	order: 5;
}



.documents-back {
	position: relative;
	overflow-x: hidden;

	background-image: url("../img/documents_blur_1_1.png"), url("../img/documents_blur_2.png");
	/*background-repeat: repeat, repeat;
	background-size: contain, contain;
	background-position: top -300px center, top center;*/
}

.triangle {
	position: absolute;
    left: 203px;
    top: 1400px;
    width: 1000px;
    height: 1000px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    transform: rotate(137.59deg);
    opacity: 0.2;
}

.document-anim-circle-1,
.document-anim-circle-2 {
	display: none;
}






@media (min-width: 576px) {
	.document {
		padding: 0 50px;
	}

	.documents-content__document {
		margin-bottom: 125px;
	}

	.documents-content__document:last-child {
		margin-bottom: 160px;
	}

	.document .inner-container_medium {
		display: block;
		max-width: 580px;
    	padding: 0 25px;
	}

	.documents-content .main-heading {
		max-width: 260px;

		font-size: 1.412rem; /*24px;*/
		line-height: 1.706rem; /*29px;*/
		text-align: left;
	}

	.document_content_right .main-heading {
		text-align: right;
	}

	.document_content_right .document__title {
		margin-left: auto;
	}

	.document__figure {
		float: right;
		margin-bottom: 50px;
	}

	.document_content_right .document__figure {
		float: left;
	}

	.document__text {
		font-size: 0.824rem; /*14px;*/
		line-height: 0.941rem; /*16px;*/
		text-align: left;
	}

	.document_content_right .document__text {
		text-align: right;
	}


	.triangle {
		opacity: 1;
    	top: 1500px;
	}
}






@media (min-width: 768px) {
	.document {
		padding: 0 60px;
	}

	.documents-content__document {
		margin-bottom: 130px;
	}

	.documents-content__document:last-child {
		margin-bottom: 210px;
	}

	.document .inner-container_medium {
		max-width: 890px;
    	padding: 0 15px;
    	width: 95%;
	}

	.documents-content .main-heading {
		max-width: 390px;

		font-size: 2.118rem; /*36px;*/
		line-height: 2.529rem; /*43px;*/
	}

	.document__figure {
		margin-bottom: 90px;
		width: 380px;
	}

	.document__link {
		width: 44.14px;
		height: 36.92px;
	}

	.document:nth-of-type(1) .document__link {
		right: 34px;
    	bottom: 209px;
	}

	.document:nth-of-type(2) .document__link {
		right: 31px;
    	bottom: 216px;
	}

	.document:nth-of-type(3) .document__link {
		left: 10px;
    	bottom: 150px;
	}

	.document:nth-of-type(4) .document__link {
		right: 20px;
    	bottom: 119px;
	}

	.document__link img {
		width: 24.88px;
	}

	.document__text {
		font-size: 1rem; /*17px;*/
		line-height: 1.176rem; /*20px;*/
	}


	.triangle {
		width: 2000px;
	    height: 2000px;
	    left: 412px;
	    top: 1040px;
	}
}







@media (min-width: 992px) {
	.document {
		padding: 0;
	}

	.documents-content__document {
		margin-bottom: 150px;
	}

	.document .inner-container_medium {
		width: 74%;
    	max-width: 980px;
	}

	.document__figure {
		margin-bottom: 40px;
		width: 450px;
	}

	.document__link {
		width: 50px;
		height: 41px;
	}

	.document:nth-of-type(1) .document__link {
		right: 37px;
    	bottom: 250px;
	}

	.document:nth-of-type(2) .document__link {
		right: 36px;
    	bottom: 261px;
	}

	.document:nth-of-type(3) .document__link {
		left: 10px;
    	bottom: 182px;
	}

	.document:nth-of-type(4) .document__link {
		right: 23px;
	    bottom: 144px;
	}

	.document__link img {
		width: 29px;
	}


	.triangle {
		top: 760px;
    	left: 960px;
	    
	    background: rgba(21, 20, 21, 0.33);
    	z-index: -50;
	}

	.document {
		position: relative;
	}

	.document-anim-circle-1,
	.document-anim-circle-2 {
		position: absolute;
		
	    display: block;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		border: 2px solid rgba(255, 255, 255, 0.08);
		
		animation-name: resize;
		animation-duration: 1.8s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	.document-anim-circle-1 {
		left: 60px;
    	bottom: 40px;
	}

	.document-anim-circle-2 {
		right: 100px;
    	bottom: -130px;
	}
}