.main-content__features {
	margin-top: 112px;
}

.features-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features-list__feature:nth-child(1) {
	margin-bottom: 527px;
}

.features-list__feature:nth-child(2) {
	margin-bottom: 497px;
}

.features-list__feature:nth-child(3) {
	margin-bottom: 437px;
}

.feature {
	display: flex;
    align-items: center;
    margin-left: auto; /**/
    width: 54.8%;
    justify-content: space-between;
}

.feature__group {
	width: 63%;
}

.feature .main-heading {
	text-align: left;
}

.feature__title {}

.feature__desc {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.feature__link {}

.feature__link:hover {}

.feature__link:focus {}

.feature__link:active {}