.features-list {
	margin: 0;
	padding: 0;
	list-style: 0;
}

.feature {}

.feature__title {
	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 3.63rem;
	line-height: 4.58rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.feature__desc {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.feature__link {
	color: inherit;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.feature__link:hover {
	/* Не доделано! */
	text-decoration: none;
	color: inherit;
}

.feature__link:focus {}

.feature__link:active {}