.features {}

.main-content__features {
	margin-bottom: 437px;
}

.features-list {
	margin: 0;
	padding: 0;

	list-style: none;
}


/**/
.features-list__feature:nth-child(1) {
	margin-bottom: 527px; /**/
}

.features-list__feature:nth-child(2) {
	margin-bottom: 497px; /**/
}

.features-list__feature:nth-child(3) {}
/**/


.features-list__feature {
	margin-left: auto;
}

.feature {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 54.8%;
}

.feature__col {
	width: 63%;
}

.feature .main-heading {
	text-align: left;
}

.feature__title {
	/*margin-bottom: */
}

.feature__desc {
	/*margin-bottom: */

	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.feature .main-link {}

.feature__link {}