

	.features {}

	.main-content__features {
		margin-bottom: 100px;
	}

	.features-list {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	.feature {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;

	    text-align: center;
	}

	.features-list__feature {
		margin-bottom: 80px;
	}

	.features-list__feature:last-child {
		margin-bottom: 0;
	}

	.feature__col {
		margin-bottom: 80px;
		max-width: 200px;
	}

	.feature .main-heading {}

	.feature__title {
		margin-bottom: 8px;
	}

	.feature__desc {
		margin: 0;

		text-transform: uppercase;
		letter-spacing: 0.07rem;
		color: rgba(255, 255, 255, 0.5);
	}

	.feature .main-link {}

	.feature__link {}



	.index-body {
		overflow-x: hidden;
	}

	.feature__col {
		position: relative;
	}

	.index-circle-1 {
		position: absolute;
	    top: -114px;
	    left: -115px;
	    width: 430px;
    	height: auto;
    	z-index: -20;
	}

	.index-circle-2 {
		position: absolute;
	    width: 523px;
	    top: -172px;
	    left: -167px;
	    z-index: -20;
    	height: auto;
	}

	.index-circle-3 {
		position: absolute;
	    top: -114px;
	    left: -115px;
	    width: 430px;
    	height: auto;
    	z-index: -20;
	}





/* Tablet S */
@media (min-width: 576px) {
	.main-content__features {
		margin-bottom: 315px;
	}

	.features-list__feature {
		margin-bottom: 215px;
	}

	.feature {
		/*flex-direction: row; 
		flex-wrap: wrap;*/
		/*justify-content: center;*/

		text-align: left;
	}

	.feature__col {
		margin-left: 25px;
		/*margin-bottom: 235px;*/
		margin-bottom: 205px;
		/*max-width: 390px; */
		max-width: 320px; 
	}

	.feature .main-heading {
		text-align: left;
	}


	.index-circle-1 {
	    top: -200px;
	    left: -298px;
	    width: 850px;
	}

	.index-circle-2 {
	    width: 1046px;
	    top: -391px;
	    left: -404px;
	}

	.index-circle-3 {
	    top: -200px;
	    left: -298px;
	    width: 850px;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.main-content__features {
		margin-bottom: 435px;
	}

	.feature {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		/*flex-wrap: nowrap;*/
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.features-list__feature {
		margin-bottom: 515px;
	}

	.feature__col {
		margin-left: 0;
		margin-right: 20px;
		margin-bottom: 0;
		max-width: 380px;
	}

	.feature__title {
		margin-bottom: 10px;
	}


	.index-circle-1 {
	    top: -279px;
	    left: -377px;
	    width: 1127px;
	}

	.index-circle-2 {
	    width: 1397px;
	    top: -535px;
	    left: -522px;
	}

	.index-circle-3 {
	    top: -279px;
	    left: -377px;
	    width: 1127px;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.index-circle-1 {
	    left: -420px;
	}

	.index-circle-2 {
	    left: -565px;
	}

	.index-circle-3 {
	    left: -420px;
	}
}