.features-list {
	margin: 0;
	padding: 0;
	list-style: 0;
}

.feature {}

.feature__title {}

.feature__desc {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.feature__link {}

.feature__link:hover {}

.feature__link:focus {}

.feature__link:active {}