.features {}

.main-content__features {
	margin-bottom: 435px;
}

.features-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.features-list__feature {
	margin-left: auto;
	margin-bottom: 545px;
}

.features-list__feature:last-child {
	margin-bottom: 0;
}

.feature {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.feature__col {
	width: 63%;
}

.feature .main-heading {
	text-align: left;
}

.feature__title {
	margin-bottom: 8px;
}

.feature__desc {
	margin: 0;

	text-transform: uppercase;
	letter-spacing: 0.07rem;
	color: rgba(255, 255, 255, 0.5);
}

.feature .main-link {}

.feature__link {}