	.features {}

	.main-content__features {
		margin-bottom: 100px;
	}

	.features-list {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	.feature {
		display: flex;
		flex-direction: column;
	    align-items: center;

	    text-align: center;
	}

	.features-list__feature {
		margin-bottom: 80px;
	}

	.features-list__feature:last-child {
		margin-bottom: 0;
	}

	.feature__col {
		margin-bottom: 80px;
		max-width: 200px;
	}

	.feature .main-heading {}

	.feature__title {
		margin-bottom: 8px;
	}

	.feature__desc {
		margin: 0;

		text-transform: uppercase;
		letter-spacing: 0.07rem;
		color: rgba(255, 255, 255, 0.5);
	}

	.feature .main-link {}

	.feature__link {}





/* Mobile */
@media (min-width: 576px) {
	.main-content__features {
		margin-bottom: 315px;
	}

	.features-list__feature {
		margin-bottom: 200px;
	}

	.feature {
		flex-direction: row; /**/
		flex-wrap: wrap;
		justify-content: center;

		text-align: left;
	}

	.feature__col {
		margin-left: 25px;
		margin-bottom: 235px;
		max-width: 390px; 
	}

	.feature .main-heading {
		text-align: left;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.main-content__features {
		margin-bottom: 435px;
	}

	.feature {
		flex-wrap: nowrap;
		justify-content: flex-end;
	}

	.features-list__feature {
		margin-bottom: 545px;
	}

	.feature__col {
		margin-left: 0;
		margin-right: 20px;
		margin-bottom: 0;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	
}
