/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 versions,>1%
*/

	.page-footer {
		background: rgba(0, 0, 0, 0.68);
	}

	.page-footer__row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding-top: 35px;
		/*min-height: 140px;*/
	}

	.page-footer__row:first-child {
		position: relative;
	}

	.page-footer__row:first-child::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		height: 1px;
		width: 108%;

		background-color: rgba(255, 255, 255, 0.25);

		content: "";

		-webkit-transform: translateX(-50%);

		    -ms-transform: translateX(-50%);

		        transform: translateX(-50%);
	}

	.page-footer__row:first-child .menu {}

	.page-footer__row:first-child .menu__item {
		margin-left: 40px;
		margin-bottom: 15px;
	}

	.page-footer__row:first-child .menu__item:last-child {
		margin-bottom: 35px;
	}

	.page-footer__row:first-child .menu__link {}

	.page-footer .language-picker,
	.page-footer .language-picker-form {
	    position: absolute;
	    top: 65px;
	    right: 0;
	}

	.page-footer__row:last-child {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		min-height: 115px;
	}

	.page-footer__copyright {
		margin: 0;
		margin-bottom: 15px;

		color: rgba(255, 255, 255, 0.5);
	}

	.page-footer__row:last-child .menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
	}

	.page-footer__row:last-child .menu__item {
		margin-bottom: 15px;
	}

	.page-footer__row:last-child .menu__item:last-child {
		margin-bottom: 35px;
	}

	.page-footer__row:last-child .menu__link {
		text-transform: none;
		color: rgba(255, 255, 255, 0.5);
	}




/* Tablet S */
@media (min-width: 576px) {
	.page-footer {
	    padding: 0 20px;
	}

	.page-footer__row:first-child .menu__item {
		margin-left: 45px;
    	margin-bottom: 30px;
	}

	.page-footer .language-picker,
	.page-footer .language-picker-form {
	    position: absolute;
	    top: 85px;
	    right: 0;
	}

	.page-footer__copyright {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
    	/*margin-top: 10px;*/
    	margin-bottom: 35px;
	}

	.page-footer__row:last-child .menu {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: unset;
		    -ms-flex-align: unset;
		        align-items: unset;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		
	}

	.page-footer__row:last-child .menu__item {
		width: 50%;
    	margin-bottom: 25px;
	}

	/*.page-footer__row:last-child .menu__item:last-child {
		margin-bottom: 35px;
	}*/

	.page-footer__row:last-child .menu__item:nth-child(2n) {
		text-align: right;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.page-footer {
	    padding: 0 60px;
	}

	.page-footer__row:first-child .menu__item {
		margin-left: 50px;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.page-footer {
	    padding: 0;
	}

	.page-footer__row {
		min-height: 140px;
	}

	.page-footer__row:first-child .menu__item {
		margin-left: 0;
    	margin-bottom: 0;
	}

	.page-footer__row:first-child .menu__item:last-child {
		margin-bottom: 0;
	}

	.page-footer .language-picker,
	.page-footer .language-picker-form {
	    position: relative;
	    top: unset;
	    right: unset;
	}

	.page-footer__row:last-child {
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
	}

	.page-footer__copyright {
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
    	margin-top: 0;
    	margin-bottom: 0;
	}

	.page-footer__row:last-child .menu {
		/*flex-wrap: nowrap;*/
		width: 85%;
	}

	.page-footer__row:last-child .menu__item {
		width: auto;
	}

	.page-footer__row:last-child .menu__item:nth-child(2n) {
		text-align: left;
	}
}