.page-footer__row {
	display: flex;
	align-items: center;
	min-height: 115px;
}

/*.page-footer__row:last-child .copyright,
.page-footer__row:last-child .menu {
	margin: 3px 0 25px;
}*/
.page-footer__row:last-child {
	align-items: flex-start;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.page-footer__row:last-child .copyright,
.page-footer__row:last-child .menu {
	margin-top: 35px;
}

.page-footer__row:last-child .menu__item {
	margin-right: 60px;
}

.page-footer__row:last-child .menu__item:last-child {
	margin-right: 0;
}

.page-footer__row:last-child .menu__link {
	text-transform: none;
}