.page-footer {
	background: rgba(0, 0, 0, 0.68);
}

.page-footer__row {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding-top: 35px;
	min-height: 145px;
}

.page-footer__row:first-child {
	position: relative;
}

.page-footer__row:first-child::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 1px;
	width: 108%;

	background-color: rgba(255, 255, 255, 0.25);

	content: "";

	transform: translateX(-50%);
}

.page-footer__row:last-child {
	justify-content: space-around;
	min-height: 115px;
}

.page-footer__copyright {
	margin: 0;
}

.page-footer__row:last-child .menu {
	width: 85%;
    justify-content: space-between;
}

.page-footer__row:last-child .menu__item {}

.page-footer__row:last-child .menu__link {
	text-transform: none;
}