.page-header {
	margin-bottom: 30px; /**/

	border-bottom: 3px solid rgba(188, 0, 0, 0.2);
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 85px; 
}

/* Наследуется для всех менюшек */
.menu {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.menu__item {}

.menu__link {
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
}

.menu__link:hover { 
	text-decoration: none;
	color: inherit;
}

.menu__link:focus {}

.menu__link:active {}

/* Основное меню */
.main-menu {
    justify-content: space-between;
    width: 63%;
}

.main-menu .menu__link:hover {}

.main-menu .menu__link:focus {}

.main-menu .menu__link:active {}

/* Личный кабинет */
.user-menu {}

.user-menu .menu__link {
	padding: 15px 29px;

	border-radius: 28.5px;
	background-color: rgba(224, 43, 43, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	white-space: nowrap;
}

.user-menu .menu__link:hover,
.user-menu .menu__link:focus {
	background-color: #951111;
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), 
				inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 
				0px 0px 11px 8px rgba(188, 0, 0, 0.7);
}

.user-menu .menu__link:active {}

/* Custom language picker */
.language-picker {
	position: relative;
}

.language-picker__button {
	position: relative;
    z-index: 10;

	padding: 10px 18px;
	border: none; 
    border-radius: 28.5px;

    background-color: rgba(224, 43, 43, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	color: inherit;
	text-transform: uppercase;
	white-space: nowrap;
}

.language-picker__button:hover {
	color: inherit;
	text-decoration: none;
}

.language-picker__button:hover,
.language-picker__button:focus {
	background-color: #951111;
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), 
				inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 
				0px 0px 11px 8px rgba(188, 0, 0, 0.7);
}

.language-picker__button:active {}

.language-picker__flag,
.language-picker__lang-code {
	vertical-align: middle;
}

.lang-list {
	position: absolute;
    z-index: 5;
    top: 0;

	margin: 0;
	padding: 50px 17px 28px;
	border-radius: 20px 20px 28.5px 28.5px;

	list-style: none;
	/*background-color: rgba(224, 43, 43, 0.3);*/
	background-color: #491111;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.lang-list__lang {
	margin-bottom: 5px;
}

.lang-list__lang:last-child {
	margin-bottom: 0;
}

.lang-list__link {
	color: inherit;
	text-transform: uppercase;
}

.lang-list__link:hover {
	color: inherit;
	text-decoration: none;
}

.lang-list__link:focus {}

.lang-list__link:active {}

.lang-list__flag,
.lang-list__lang-code {
    vertical-align: middle;
}

/* No-js language picker */
.language-picker-form {}

.language-picker-form__select {
	padding: 10px 12px 10px 45px;
    border: none;
    border-radius: 28.5px;

	font: inherit;
	text-transform: uppercase;
    color: inherit;
    
    background-color: rgba(224, 43, 43, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    background-position: 15px center; /*18px center*/
    background-size: 25px 16px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.language-picker-form__select:hover,
.language-picker-form__select:focus {
	background-color: #951111;
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), 
				inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 
				0px 0px 11px 8px rgba(188, 0, 0, 0.7);
}

.language-picker-form__select:active {}

.language-picker-form__select[data-lang="ru"] {
	background-image: url(../img/ru.svg);
}

.language-picker-form__select[data-lang="en"] {
	background-image: url(../img/gb.svg);
}

.language-picker-form__select[data-lang="de"] {
	background-image: url(../img/de.svg);
}

.language-picker-form__select[data-lang="pt"] {
	background-image: url(../img/pt.svg);
}

.language-picker-form__select[data-lang="ch"] {
	background-image: url(../img/cn.svg);
}

.language-picker-form__select option {
	background-color: #fff;
    color: #000;
}

/* Tablet */
@media (min-width: 768px) {
	.page-header {
		/*position: relative;*/
	}

	.burger {
		padding: 10px 5px;
	    border: none;

	    background-color: transparent;

	    cursor: pointer;
	}

	.burger__icon {
		display: block;
		width: 30px;
		height: 2px;
		border-radius: 81.5px;

		background-color: rgba(188, 0, 0, 0.7);
		/*background-color: rgba(188, 0, 0, 1);*/
	}

	.burger__icon:first-child {
		transform: translateY(-5px);
	}

	.burger__icon:last-child {
		transform: translateY(5px);
	}

	/* Классы при открытии меню */
	.burger_active .burger__icon:first-child {
		transform: translate(0, 2px) rotate(45deg);
	}

	.burger_active .burger__icon:nth-child(2) {
		opacity: 0;
	}

	.burger_active .burger__icon:last-child {
		transform: translate(0, -2px) rotate(-45deg);
	}
	/* END OF Классы при открытии меню */
}