	.page-header {
		margin-bottom: 10px;
		padding: 50px 0; 

		border: none;
	}

	.page-header .inner-container_large {
		display: flex;
    	justify-content: space-between;
    	align-items: center;
	}

	.burger {
		padding: 10px 5px;
	    border: none;

	    background-color: transparent;

	    cursor: pointer;
	}

	.burger__icon {
		display: block;
		width: 30px;
		height: 2px;
		border-radius: 81.5px;

		background-color: rgba(188, 0, 0, 0.7);
		/*background-color: rgba(188, 0, 0, 1);*/
	}

	.burger__icon:first-child {
		transform: translateY(-5px);
	}

	.burger__icon:last-child {
		transform: translateY(5px);
	}

	/* Классы при открытии меню */
	.burger_active .burger__icon:first-child {
		transform: translate(0, 2px) rotate(45deg);
	}

	.burger_active .burger__icon:nth-child(2) {
		opacity: 0;
	}

	.burger_active .burger__icon:last-child {
		transform: translate(0, -2px) rotate(-45deg);
	}
	/* END OF Классы при открытии меню */

	.main-nav {
		display: none; /**/

		/* наследуется для десктопа */
		align-items: center;
		justify-content: space-between;
		min-height: 85px; 
	}

	/* Наследуется для всех менюшек */
	.menu {
		display: flex;
		margin: 0;
		padding: 0;

		list-style: none;
	}

	.menu__item {}

	.menu__link {
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;
	}

	.menu__link:hover { 
		text-decoration: none;
		color: inherit;
	}

	.menu__link:focus {}

	.menu__link:active {}

	/* Основное меню */
	.main-menu {
		flex-wrap: wrap;
	    justify-content: flex-start;
		
		margin-left: -40px;
		width: 80%;
	}

	/* Личный кабинет */
	.user-menu {}

	.user-menu .menu__link {
		padding: 7px 10px;

		border-radius: 28.5px;
		/*background-color: rgba(224, 43, 43, 0.3);*/
		background-color: #531b1b;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

		white-space: nowrap;
	}

	.user-menu .menu__link:hover,
	.user-menu .menu__link:focus {
		background-color: #951111;
		box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), 
					inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 
					0px 0px 11px 8px rgba(188, 0, 0, 0.7);
	}

	.user-menu .menu__link:active {}

	/* Custom language picker */
	.no-js .language-picker {
		display: none;
	}

	.js .language-picker {
		position: relative;
	}

	.js .language-picker__button {
		position: relative;
	    z-index: 10;

		padding: 7px 10px;
		border: none; 
	    border-radius: 28.5px;

	    /*background-color: rgba(224, 43, 43, 0.3);*/
	    background-color: #531b1b;
	    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

		color: inherit;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.js .language-picker__button:hover {
		color: inherit;
		text-decoration: none;
	}

	.js .language-picker__button[aria-expanded="true"],
	.js .language-picker__button:hover,
	.js .language-picker__button:focus {
		background-color: #951111;
		box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), 
					inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 
					0px 0px 11px 8px rgba(188, 0, 0, 0.7);
	}

	.js .language-picker__button:active {}

	.js .language-picker__flag,
	.js .language-picker__lang-code {
		vertical-align: middle;
	}

	.js .language-picker__flag {
		width: 16px;
    	height: 11px;
    }

	.js .lang-list {
		position: absolute;
	    z-index: -30; /**/
	    top: 0;

		margin: 0;
		padding: 50px 17px 28px;
		border-radius: 20px 20px 28.5px 28.5px;

		list-style: none;
		/*background-color: rgba(224, 43, 43, 0.3);*/
		background-color: #531b1b;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

		/* Анимация открытия меню */
		/*visibility: hidden;*/
		opacity: 0;
    	transform: translate(0, -50px) scaleY(0.4);
    	transition: opacity .15s linear,
    				transform .3s ease-out;
    	transition-delay: 0s, 0s;
	}

	.language-picker__button[aria-expanded="true"] + .language-picker__lang-list { 
		/* Показывает список с языками, когда aria-expanded атрибут кнопки равен true */
		z-index: 5; /**/

		/* Анимация открытия меню */
		/*visibility: visible;*/
		opacity: 1;
    	transform: none;
	}





	/*.js .language-picker__button:hover + .lang-list,
	.js .language-picker__button:focus + .lang-list {
		display: block;
	}

	.js .lang-list:hover,
	.js .lang-list:focus {
		display: block;
	}*/




	.js .lang-list__lang {
		margin-bottom: 5px;
	}

	.js .lang-list__lang:last-child {
		margin-bottom: 0;
	}

	.js .lang-list__link {
		color: inherit;
		text-transform: uppercase;
	}

	.js .lang-list__link:hover {
		color: inherit;
		text-decoration: none;
	}

	.js .lang-list__link:focus {}

	.js .lang-list__link:active {}

	.js .lang-list__flag,
	.js .lang-list__lang-code {
	    vertical-align: middle;
	}

	/* No-js language picker */
	.js .language-picker-form {
		display: none;
	}

	.no-js .language-picker-form {}

	.no-js .language-picker-form__select {
		padding: 10px 12px 10px 45px;
	    border: none;
	    border-radius: 28.5px;

		font: inherit;
		text-transform: uppercase;
	    color: inherit;
	    
	    background-color: rgba(224, 43, 43, 0.3);
	    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	    background-repeat: no-repeat;
	    background-position: 15px center; /*18px center*/
	    background-size: 25px 16px;

	    -moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    cursor: pointer;
	}

	.no-js .language-picker-form__select:hover,
	.no-js .language-picker-form__select:focus {
		background-color: #951111;
		box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), 
					inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 
					0px 0px 11px 8px rgba(188, 0, 0, 0.7);
	}

	.no-js .language-picker-form__select:active {}

	.no-js .language-picker-form__select[data-lang="ru"] {
		background-image: url(../img/ru.svg);
	}

	.no-js .language-picker-form__select[data-lang="en"] {
		background-image: url(../img/gb.svg);
	}

	.no-js .language-picker-form__select[data-lang="de"] {
		background-image: url(../img/de.svg);
	}

	.no-js .language-picker-form__select[data-lang="pt"] {
		background-image: url(../img/pt.svg);
	}

	.no-js .language-picker-form__select[data-lang="ch"] {
		background-image: url(../img/cn.svg);
	}

	.no-js .language-picker-form__select option {
		background-color: #fff;
	    color: #000;
	}





/* Tablet S */
@media (min-width: 576px) {
	.page-header {
		margin-bottom: 70px;
		padding: 65px 50px; 
	}

	.main-menu {
		margin-left: -45px;
	}

	.user-menu .menu__link {
		padding: 15px 29px;
	}

	.js .language-picker__button {
		padding: 10px 18px;
	}

	.js .language-picker__flag {
		width: 25px;
    	height: 16px;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.page-header {
		padding: 65px 60px; 
	}

	.main-menu {
	    margin-left: -50px;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.page-header {
		margin-bottom: 30px;
		padding: 0;

		border-bottom: 3px solid rgba(188, 0, 0, 0.2);
	}

	.page-header .inner-container_large {
		display: block;
    	justify-content: unset;
    	align-items: unset;
	}

	.burger {
		display: none;
	}

	.main-nav {
		display: flex; /**/
	}

	.main-menu {
		flex-wrap: nowrap;
	    justify-content: space-between;
	    
	    margin-left: 0;
	    width: 63%;
	}
}