.page-header {
	border-bottom: 3px solid rgba(188, 0, 0, 0.2);
}

.main-nav {
	display: flex;
	align-items: center;
	min-height: 85px;
}

.logo {}

.menu {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.menu__link {
	text-transform: uppercase;
	color: inherit;
}

.menu__link:hover {
	/* Не доделано! */
	text-decoration: none;
	color: inherit;
}

.menu__link:focus {}

.menu__link:active {}

.main-menu {
	flex-wrap: wrap;
	max-width: 760px;
}

.main-menu .menu__item {
	margin-right: 74px;
}

.main-menu .menu__item:nth-child(5) {
	margin-right: 0;
}

/*.main-menu .menu__item:nth-child(5n + 1) {
	margin-top: 10px;
}*/

.user-menu .menu__link {
	position: relative;

	padding: 16px 29px;
	background-color: rgba(224, 43, 43, 0.3);
	border-radius: 28.5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.user-menu .menu__link:hover {
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), 
				inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 
				0px 0px 11px 8px rgba(188, 0, 0, 0.7);
	background-color: #951111;
}

.menu__link:focus {}

.menu__link:active {}

.dropdown {}