/* тянется из бутстрапа */

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.modal-open {
    overflow: hidden;
}

.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
} 

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

/*.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}*/

/*@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}*/

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

/*.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}*/

/* Затемнение фона */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    /*background-color: #000;*/
    background-color: rgba(22, 21, 21, 0.9);
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    /*opacity: .5;*/
    opacity: 1;
}

/* END OF тянется из бутстрапа */





.modal_centered {
    margin-top: 7.5vh; /*calc((100vh - 85vh) / 2);*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.5vh;
}

.modal_squared {
    width: 90vw;
    /*height: 85vh;*/
    max-width: 541px;
    /*max-height: 770px;*/

    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.7);

    background: #432324; /* Фолбэк для градиента */
   /*background: linear-gradient(180deg, rgba(188, 0, 0, 0.17) 0%, rgba(49, 0, 188, 0.26) 100%)*/
    background: linear-gradient(180deg, #442424 0%, #2d1f4f 100%);
}

.modal__content {
    width: 100%;
    height: 100%;
    
    /*background-repeat: no-repeat;
    background-position: top 30px center;*/
}

/*.modal__content[data-img="1"] {
	background-image: url("../img/modal-picture_1_cropped.png");
}

.modal__content[data-img="2"] {
	background-image: url("../img/modal-picture_2_cropped.png");
}

.modal__content[data-img="3"] {
	background-image: url("../img/modal-picture_3_cropped.png");
}

.modal__content[data-img="4"] {
	background-image: url("../img/modal-picture_4_cropped.png");
}*/

.magic-wrapper {}

.magic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__img {
    width: 171px;
}

.modal__text {
    margin: 0;

    text-align: center;
    font-weight: 700;
    /*font-size: 0.824rem;*/ /*14px*/
    /*line-height: 1.059rem; *//*18px;*/

    letter-spacing: 0.03rem;
}

@media (min-width: 576px) {
    .modal__img {
        width: 220px;
        /*max-width: 220px*/;
    }
}

@media (min-width: 768px) {
    /*round*/

    .modal_centered {
        margin-bottom: auto;
    }

    .modal_round {
        width: 60vh;
        height: 60vh;
        max-width: 770px;
        max-height: 770px;
        /*width: 550px; 
        height: 550px; */
        padding: 20px;
        border: none;
        border-radius: 50%;

        background: #4f0c12; /* Фолбэк для градиента */
        /*background: linear-gradient(0deg, rgba(49,0,188,0.24) 24%, rgba(188,0,0,0.4) 90%);*/
        background: linear-gradient(0deg, #1e0f39 24%, #4e0c13 90%);
        box-shadow: 0 0 80px 15px rgba(255, 255, 255, 0.5);
    }

    .modal__content {
        border-radius: 50%;

        background-color: #151414;
    }

    .magic-wrapper {
        overflow-x: hidden;
    }

    .magic {
        padding-right: 30px; /*Прячет скроллбар*/
        width: 110%;
        height: 100%;
        overflow-y: auto;

        padding-left: 30px; /*Выравнивает контент, отцентрованный с использованием флекс*/
        margin-left: -30px;
    }

    .modal__img {
        margin-top: 50px;
    }

    .modal__text {
        /*padding: 0 40px 25%;*/
        padding: 0 10% 25%;

        font-size: 0.882rem; /*15px*/
        line-height: 1.118rem; /*19px;*/
    }
}

@media (min-width: 992px) {
    .modal_round {
        width: 85vh;
        height: 85vh;
    }

    .modal__text {
        font-size: inherit; /*17px*/
        line-height: 1.235rem; /*21px;*/
    }
}