

	.profit {}

	.main-content__profit {
		margin-bottom: 70px;
	}

	.profit .main-heading {}

	.profit__heading {
		margin-bottom: 40px;
	}

	.profit-list {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	.source {
		text-align: center;
		max-width: 380px;
	}

	.profit-list__source {
		margin-bottom: 60px;
		margin-left: auto;
    	margin-right: auto;
	}

	.profit-list__source:last-child {
		margin-bottom: 0;
	}

	.source__field,
	.source__desc {
		margin: 0;

		font-size: inherit; /*12px*/
		font-weight: 400;
		line-height: inherit; /*15px*/
		letter-spacing: 0.03rem; /*0.03em=3%*/
		color: rgba(255, 255, 255, 0.5);
	}

	.source__field {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;

	    margin-bottom: 30px;
	}

	.source__perc {
		margin-bottom: -20px;

		background: #4f0c12; /* Фолбэк для градиента */
		background: -webkit-linear-gradient(90deg, rgba(49,0,188,0.24) 24%, rgba(188,0,0,0.4) 90%);
		-webkit-background-clip: text;
	  	-webkit-text-fill-color: transparent;

		font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
		font-weight: 700;
		font-size: 5.882rem; /*100px*/
		line-height: 7.412rem; /*126px*/
		letter-spacing: 0.03rem; /*0.03em=3%*/

		/*text-shadow: 50px -25px 15px #4f0c1230;*/
		/*filter: drop-shadow(50px -25px 0px #4f0c123b);*/
	}

	.source .main-heading {}

	.source__reason {
		margin-bottom: 15px;
	}

	.source__desc {
		margin-bottom: 30px;
	}

	.source .main-link {}

	.source__link {}



	.profit {
		position: relative;
	}

	.index-blur-2 img:nth-child(1), 
	.index-blur-2 img:nth-child(2),
	.index-blur-2 img:nth-child(3),
	.index-blur-2 img:nth-child(4) {
		display: none;
	}

	.profit .inner-container_small {
		position: relative;
	}

	.profit .anim-circle {
		display: none;
	}

	.source {
		position: relative;
	}

	.profit-round-1,
	.profit-round-2 {
		display: none;
	}

	.source__link {
		position: relative;
		z-index: 20;
	}




/* Tablet S */
@media (min-width: 576px) {
	.main-content__profit {
		margin-bottom: 235px;
	}

	.profit-list__source {
		margin-bottom: 65px;
	}

	.profit__heading {
		margin-bottom: 50px;
	}

	.source__field,
	.source__desc {
		font-size: 1.176rem; /*20px*/
		line-height: 1.471rem; /*25px*/
	}

	.source__perc {
		margin-bottom: -45px;

		font-size: 10rem; /*170px*/
		line-height: 12.647rem; /*215px*/
	}

	.source .main-heading {
		font-size: 2.118rem; /*36px*/
    	line-height: 2.647rem; /*45px*/
	}

	.source__reason {
		margin-bottom: 20px;
	}


	.profit .anim-circle {
		display: block;
		position: absolute;
		top: -80px;
    	right: 40px;

		width: 200px;
		height: 200px;
		
		border-radius: 50%;
		border: 2px solid rgba(255, 255, 255, 0.15);
		
		animation-name: resize;
		animation-duration: 1.8s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	.profit-round-1,
	.profit-round-2 {
		display: block;
		position: absolute;
		z-index: -20;
	}

	.profit-round-1 {
		width: 432px;
	    height: auto;
	    top: -80px;
	    left: -27px;
	}

	.profit-round-2 {
		bottom: -160px;
	    left: -210px;
	    width: 780px;
	    height: auto;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.profit__heading {
		margin-bottom: 65px;
	}

	.source {
		text-align: left;
	}

	.source:nth-child(2n) {
		text-align: right;
	}

	.profit-list__source {
		margin-bottom: -15px;
		margin-left: 0;
    	margin-right: 0;
	}

	.profit-list__source:nth-child(2n) {
		margin-left: auto;
	}

	.source__field {
		margin-bottom: 35px;
	}

	.source__perc {
		margin-left: -10px;
		margin-bottom: -65px;

		font-size: 12.353rem; /*210px*/
		line-height: 15.588rem; /*265px*/
	}

	.source:nth-child(2n) .source__perc {
		margin-left: 0;
		margin-right: -10px;
	}

	.source .main-heading {
		text-align: left;
		font-size: 2.118rem; /*36px*/
		line-height: 2.675rem; /*45.47px*/
	}

	.source:nth-child(2n) .main-heading {
		text-align: right;
	}

	.source__reason {
		margin-bottom: 25px;
	}

	.source__desc {
		margin-bottom: 35px;
	}


	.profit .anim-circle {
		right: -20px;
	    width: 240px;
	    height: 240px;
	}

	.profit-round-1 {
		width: 532px;
	    height: auto;
	    top: -121px;
	    left: -17px;
	}

	.profit-round-2 {
		bottom: -50px;
	    left: -380px;
	    width: 880px;
	    height: auto;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.profit__heading {
		margin-bottom: 75px;
	}

	.profit-list__source {
		margin-bottom: -35px;
	}



	.index-blur-2 img:nth-child(1), 
	.index-blur-2 img:nth-child(2),
	.index-blur-2 img:nth-child(3),
	.index-blur-2 img:nth-child(4) {
		display: block;
		position: absolute;
	}

	.index-blur-2 img:nth-child(1) {
		top: 100px;
	    right: 0;
	    width: 300px;
	    height: 300px;
	    opacity: 0.7;
	}

	.index-blur-2 img:nth-child(2) {
		top: 130px;
	    right: 0;
	    width: 270px;
	    height: 300px;
	    opacity: 0.6;
	}

	.index-blur-2 img:nth-child(3) {
		top: 800px;
	    left: 0;
	    transform: scale(-1, 1);
	    width: 300px;
	    height: 1600px;
	    opacity: 0.7;
	}

	.index-blur-2 img:nth-child(4) {
		top: 170px;
	    left: 0;
	    transform: scale(-1, 1);
	    width: 400px;
	    height: 1500px;
	    opacity: 0.7;
	}

	.profit .anim-circle {
		right: 70px;
	}

	.profit-round-1 {
		width: 562px;
	    height: auto;
	    top: -161px;
	    left: -17px;
	}

	.profit-round-2 {
		bottom: -220px;
	    left: -280px;
	    width: 880px;
	    height: auto;
	}
}