.profit {}

.main-content__profit {
	margin-bottom: 202px;
}

.profit .main-heading {}

.profit__heading {
	margin-bottom: 70px;
}

.profit-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.source {
	width: 50%;
}

.source:nth-child(2n) {
	text-align: right;
}

.profit-list__source:nth-child(2n) {
	margin-left: auto;
}



.profit-list__source {
	/*margin-bottom: */
}

/**/
.profit-list__source:nth-child(1) {
	margin-bottom: -60px;
}

.profit-list__source:nth-child(2) {
	margin-bottom: -225px;
}

.profit-list__source:nth-child(3) {
	margin-bottom: -75px;
}
/**/



.source__field {
	display: flex;
    flex-direction: column;

    margin-bottom: 38px;
}

.source__field,
.source__desc {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.58rem;
	letter-spacing: 0.05rem;
}

.source__perc {
	margin-bottom: -70px;

	background: #4f0c12; /* Фолбэк для градиента */
	background: -webkit-linear-gradient(90deg, rgba(49,0,188,0.24) 24%, rgba(188,0,0,0.4) 90%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 13.12rem;
	line-height: 16.57rem;
	letter-spacing: 0.05rem;
}

.source .main-heading {
	text-align: left;
	font-size: 2.25rem;
	line-height: 2.84rem;
	letter-spacing: 0.05rem;
}

.source:nth-child(2n) .main-heading {
	text-align: right;
}

.source__reason {
	margin-bottom: 24px;
}

.source__desc {
	margin-bottom: 44px;
}

.source .main-link {}

.source__link {}