.sign-in-content {
	position: relative;

	overflow: hidden;
	margin-top: -115px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.welcome {
	display: flex;
    flex-direction: column;
    align-items: center;
	/*min-height: 770px;*/
}

.sign-in-form,
.sign-up-form,
.restore-pass-form {
	box-sizing: content-box;
    width: 200px;

	display: flex;
	flex-direction: column;
	align-items: center;
	/*width: 390px;*/
	padding: 65px 95px;
	border-radius: 105px;
	background: rgba(21, 20, 20, 0.95);
	box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.7),
				0 0 85px 7px rgba(50, 0, 192, 0.7),
				0 0 100px 40px rgba(188, 0, 0, 0.44);
}

.sign-in-form__logo,
.sign-up-form__logo,
.restore-pass-form__logo {
	margin-bottom: 40px;

	width: 112px;
	height: auto;
}

.sign-in-form__list,
.sign-up-form__list {
	display: flex;
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	list-style: none;
}

.sign-in-form__list-link,
.sign-up-form__list-link {
	padding: 9.5px 26.5px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	text-decoration: none;
}

.welcome__active-form {
	padding: 8px 25px;
	border: 1.5px solid #BC0000;
	border-radius: 28px;
}

.welcome__active-form:hover {
	cursor: default;
}

.sign-in-form__list-link:hover,
.sign-up-form__list-link:hover {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.restore-pass-form__title {
	margin: 0;
	margin-bottom: 27px;
	padding: 11px 10px;
    border: 1.5px solid #BC0000;
    border-radius: 28px;
    text-align: center;
    width: 100%;
	/*margin-bottom: 35px;*/
	color: rgba(255, 255, 255, 0.5);
    font-size: 0.824rem;
    line-height: 0.941rem;
}

.sign-in-form input,
.sign-up-form input,
.restore-pass-form input {
	margin-bottom: 35px;
	padding: 15px 0;
	width: 200px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;

	font: inherit;
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	color: rgba(255, 255, 255, 0.3);
}

.sign-in-form input::placeholder,
.sign-up-form input::placeholder,
.restore-pass-form input::placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.sign-in-form__pass-group,
.sign-up-form__pass-group,
.sign-up-form__pass-group-2 {
	position: relative;
}

.sign-in-form__pass-group input,
.sign-up-form__pass-group input,
.sign-up-form__pass-group-2 input {
	padding-right: 25px;
}

.sign-in-form__pass-show,
.sign-up-form__pass-show,
.sign-up-form__pass-show-2 {
	position: absolute;
	top: 15px;
	right: 0;
	z-index: 20;
	display: flex;
	padding: 0;
	width: 14px;
	height: 14px;
	border: none;
	background: transparent;
}

.sign-in-form__pass-group img,
.sign-up-form__pass-group img,
.sign-up-form__pass-group-2 img {
	width: 100%;
	height: auto;
}

.sign-in-form__restore-password-link,
.restore-pass-form__link {
	margin-bottom: 23px;

	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.sign-in-form__restore-password-link:hover,
.restore-pass-form__link:hover {
	color: rgba(255, 255, 255, 0.5);
	/*text-decoration: none;*/
	text-decoration: underline;
}

.sign-in-form__restore-password-link:focus,
.restore-pass-form__link:focus {
	text-decoration: underline;
}

.sign-in-form__btn,
.sign-up-form__btn,
.restore-pass-form__btn {
	padding: 11px 37px;

	border: 1.5px solid #BC0000;
	border-radius: 28px;
	background-color: transparent;

	font: inherit;
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	text-align: center;
	letter-spacing: 0.07em;
	color: rgba(255, 255, 255, 0.5);
}

.restore-pass-form__btn {
	padding: 11px 10px;
    width: 100%;
}

.sign-up-form select {
	padding: 15px 0;
	margin-bottom: 35px;
	width: 200px;
	
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    background: transparent;

    font: inherit;
    font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	color: rgba(255, 255, 255, 0.3);
}

.sign-up-form select option {
	background-color: #fff;
	color: #141313;
}

.sign-up-form__prev-step {
	margin-bottom: 23px;

	color: rgba(255, 255, 255, 0.3);
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	text-decoration: none;
}

.sign-up-form__prev-step:hover {
	color: rgba(255, 255, 255, 0.3);
	/*text-decoration: none;*/
	text-decoration: underline;
}

.sign-up-form__prev-step:focus {
	text-decoration: underline;
}

.sign-up-form__step-one,
.sign-up-form__step-two {
	display: flex;
	flex-direction: column;
	align-items: center;
}



.sign-in-blur img:nth-child(1),
.sign-in-blur img:nth-child(2),
.sign-in-blur img:nth-child(3),
.sign-in-blur img:nth-child(4) {
	display: none;
}

.sign-in-body .anim-circle:nth-of-type(2),
.sign-in-body .anim-circle:nth-of-type(3) {
	position: absolute;
	
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.3);
	
	animation-name: resize;
	animation-duration: 1.8s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.sign-in-body .anim-circle:nth-of-type(2) {
	top: 80px;
    left: 20px;
    width: 80px;
    height: 80px;
    z-index: -20;
}

.sign-in-body .anim-circle:nth-of-type(3) {
	top: 460px;
    right: -185px;
    width: 240px;
    height: 240px;
}


.sign-in-body .anim-circle:nth-of-type(4),
.sign-in-body .anim-circle:nth-of-type(5) {
	display: none;
}





@media (min-width: 576px) {
	.sign-in-content {
		padding-bottom: 150px;
		margin-top: -165px;
	}

	.sign-in-form,
	.sign-up-form,
	.restore-pass-form {
		/*width: 475px;
		padding: 50px 88.5px;*/
		width: 300px;
	}

	.sign-in-form__logo,
	.sign-up-form__logo,
	.restore-pass-form__logo {
		width: 139px;
	}

	.sign-in-form__list-link,
	.sign-up-form__list-link {
		padding: 12px 29.5px;

		font-size: 0.941rem; /*16px;*/
		line-height: 1.118rem; /*19px;*/
	}

	.restore-pass-form__title {
		width: auto;
	    padding: 11px 27.5px;
	    border: 2px solid #BC0000;
		font-size: 0.941rem;
	    line-height: 1.118rem;
	}

	.welcome__active-form {
		padding: 10px 27.5px;
		border: 2px solid #BC0000;
	}

	.sign-in-form input,
	.sign-up-form input,
	.restore-pass-form input {
		width: 300px;

		font-size: 0.941rem; /*16px;*/
		line-height: 1.118rem; /*19px;*/
	}

	.sign-in-form__pass-show,
	.sign-up-form__pass-show,
	.sign-up-form__pass-show-2 {
		top: 16px;
		width: 17px;
    	height: 17px;
	}

	.sign-in-form__restore-password-link,
	.restore-pass-form__link {
		font-size: 0.941rem; /*16px;*/
		line-height: 1.118rem; /*19px;*/
	}

	.sign-in-form__btn,
	.sign-up-form__btn,
	.restore-pass-form__btn {
		padding: 12px 43px;
		border: 2px solid #BC0000;

		font-size: 0.941rem; /*16px;*/
		line-height: 1.118rem; /*19px;*/
	}

	.restore-pass-form__btn {
		width: auto;
	}

	.sign-up-form select {
		width: 300px;

		font-size: 0.941rem; /*16px;*/
		line-height: 1.118rem; /*19px;*/
	}

	.sign-up-form__prev-step {
		font-size: 0.941rem; /*16px;*/
		line-height: 1.118rem; /*19px;*/
	}


	.sign-in-body .anim-circle:nth-of-type(2),
	.sign-in-body .anim-circle:nth-of-type(3),
	.sign-in-body .anim-circle:nth-of-type(4) {
		border: 2px solid rgba(255, 255, 255, 0.2);
	}

	.sign-in-body .anim-circle:nth-of-type(2) {
		left: -40px;
		width: 200px;
		height: 200px;
	}

	.sign-in-body .anim-circle:nth-of-type(3) {
		top: 340px;
    	z-index: -20;
		width: 380px;
		height: 380px;
	}

	.sign-in-body .anim-circle:nth-of-type(4) {
		position: absolute;
		top: 590px;
    	left: 70px;
		display: block;
		width: 80px;
		height: 80px;
	    border-radius: 50%;
	    animation-name: resize;
	    animation-duration: 1.8s;
	    animation-timing-function: linear;
	    animation-delay: 0s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	}	
}




@media (min-width: 768px) {
	.sign-in-form,
	.sign-up-form,
	.restore-pass-form {
		padding: 65px 127px;
	}

	.sign-in-form__logo,
	.sign-up-form__logo,
	.restore-pass-form__logo {
		width: 170px;
	}

	.sign-in-form__list-link,
	.sign-up-form__list-link,
	.restore-pass-form__title {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.sign-in-form input,
	.sign-up-form input,
	.restore-pass-form input {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.sign-in-form__pass-show,
	.sign-up-form__pass-show,
	.sign-up-form__pass-show-2 {
		top: 14px;
		width: 21px;
    	height: 21px;
	}

	.sign-in-form__pass-group input,
	.sign-up-form__pass-group input,
	.sign-up-form__pass-group-2 input {
		padding-right: 30px;
	}

	.sign-in-form__restore-password-link,
	.restore-pass-form__link {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.sign-in-form__btn,
	.sign-up-form__btn,
	.restore-pass-form__btn {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.sign-up-form select {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.sign-up-form__prev-step {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}


	

	.sign-in-content {
		padding-top: 210px;
		margin-top: -270px;
	}

	.sign-in-blur img:nth-child(1) {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -20;
		display: block;
	}

	.sign-in-blur img:nth-child(2) {
		position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -20;
	    display: block;
	    height: 570px;
	    width: 400px;
	    opacity: 0.5;
	}

	.sign-in-blur img:nth-child(3) {
		position: absolute;
	    bottom: -200px;
	    right: 0;
	    z-index: -20;
	    display: block;
	    transform: scale(-1, 1);
	}

	.sign-in-blur img:nth-child(4) {
		position: absolute;
	    bottom: -200px;
	    right: 0;
	    z-index: -20;
	    display: block;
	    transform: scale(-1, -1);
	}

	.sign-in-body .anim-circle:nth-of-type(2) {
		top: 200px;
	    left: -190px;
	    width: 255px;
	    height: 255px;
	}

	.sign-in-body .anim-circle:nth-of-type(3) {
		right: -95px;
	    width: 450px;
	    height: 450px;
	}

	.sign-in-body .anim-circle:nth-of-type(4) {
		width: 180px;
	    height: 180px;
	    top: 620px;
	    left: 130px;
	    z-index: -20;
	}

	.sign-in-body .anim-circle:nth-of-type(5) {
		position: absolute;
	    top: 390px;
    	right: -110px;
	    display: block;
	    width: 145px;
	    height: 145px;
	    border-radius: 50%;
	    border: 2px solid rgba(255, 255, 255, 0.2);
	    animation-name: resize;
	    animation-duration: 1.8s;
	    animation-timing-function: linear;
	    animation-delay: 0s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	}
}




@media (min-width: 992px) {
	.sign-in-content {
		margin-top: -120px;
		padding-bottom: 170px;
	}

	.sign-in-blur img:nth-child(1) {
		top: auto;
	    bottom: -100px;
	    height: 600px;
	    width: 160px;
	    transform: scale(1, -1);
	}

	.sign-in-blur img:nth-child(2) {
		top: auto;
	    bottom: -300px;
	    transform: scale(1, -1);
	    height: 1000px;
	    width: 500px;
	}

	.sign-in-blur img:nth-child(3) {
		bottom: auto;
	    top: -200px;
	    width: 200px;
	    height: 900px;
	    transform: scale(-1, 1);
	}

	.sign-in-blur img:nth-child(4) {
		bottom: auto;
	    top: -200px;
	    transform: scale(-1, 1);
	    width: 440px;
	    height: 900px;
	    opacity: 0.5;
	}

	.sign-in-body .anim-circle:nth-of-type(2) {
		top: 180px;
    	left: 30px;
		width: 260px;
		height: 260px;
	}

	.sign-in-body .anim-circle:nth-of-type(3) {
		right: 50px;
    	top: 370px;
		width: 460px;
		height: 460px;
	}

	.sign-in-body .anim-circle:nth-of-type(4) {
		top: 640px;
    	left: 350px;
	}

	.sign-in-body .anim-circle:nth-of-type(5) {
		top: 410px;
    	right: 50px;
	}
}