@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoRegular.woff") format("woff"),
		 url("../fonts/RobotoRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoMedium.woff") format("woff"),
		 url("../fonts/RobotoMedium.woff") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoBold.woff") format("woff"),
		 url("../fonts/RobotoBold.woff") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeueBold.woff") format("woff"),
		 url("../fonts/BebasNeueBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

body {
	background-color: #151414;

	font-family: Roboto, Tahoma, Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.063rem;
	line-height: 1.25rem;
	color: rgba(255, 255, 255, 0.7);
}

.inner-container {
	/*max-width: initial;*/ /* переопределить */
	margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

.inner-container_small {
	margin: 0 auto;
    width: 800px;
    padding: 0 15px;
}

.inner-container_medium {
	margin: 0 auto;
    width: 1000px;
    padding: 0 15px;
}

.main-heading {
	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 3.63rem;
	line-height: 4.58rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-align: center;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-link {
	display: inline-block;
	padding: 20px 35px;
	border: 3px solid #BC0000;
	border-radius: 28px;

	color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.main-link:hover {
    box-shadow: 0px 0px 5px 5px rgba(188, 0, 0, 0.7),
    			inset 0px 0px 5px 5px rgba(188, 0, 0, 0.7);

    text-decoration: none;
	color: inherit;
}

.main-link:focus {}

.main-link:active {}



/* Custom language picker */

.language-picker {
	position: relative;
}

.language-picker__button {
	position: relative;
    z-index: 10;

	padding: 10px 18px;
    background-color: rgba(224, 43, 43, 0.3);
    /*background-color: #531b1b;*/
    border: none; /**/
    border-radius: 28.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	color: inherit;
	text-transform: uppercase;

	cursor: pointer;
}

.language-picker__button:hover {
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 0px 0px 11px 8px rgba(188, 0, 0, 0.7);
    background-color: #951111;

    color: inherit;
	text-decoration: none;
}

.language-picker__lang-code {
	vertical-align: middle;
}

.lang-list {
	position: absolute;
    z-index: 5;
    top: 0;

	margin: 0;
	padding: 50px 15px 28px;
	list-style: none;
	border-radius: 17px 17px 28.5px 28.5px;

	background-color: rgba(224, 43, 43, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.lang-list__lang {
	margin-bottom: 5px;
}

.lang-list__lang:last-child {
	margin-bottom: 0;
}

.lang-list__link {
	color: inherit;
	text-transform: uppercase;
}

.lang-list__link:hover {
	color: inherit;
	text-decoration: none;
}

.lang-list__lang-code {
    vertical-align: middle;
}

.language-picker-form__select {
	font: inherit;
    color: inherit;
    padding: 10px 12px 10px 45px;
    border: none;
    border-radius: 28.5px;
    background-color: rgba(224, 43, 43, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 25px 16px;
}

.language-picker-form__select[data-lang="ru"] {
	background-image: url(../img/ru.svg);
}

.language-picker-form__select[data-lang="en"] {
	background-image: url(../img/gb.svg);
}

.language-picker-form__select[data-lang="de"] {
	background-image: url(../img/de.svg);
}

.language-picker-form__select[data-lang="pt"] {
	background-image: url(../img/pt.svg);
}

.language-picker-form__select[data-lang="ch"] {
	background-image: url(../img/cn.svg);
}

.language-picker-form__select:hover,
.language-picker-form__select:focus {
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15), inset 0px 4px 6px -2px rgba(255, 255, 255, 0.2), 0px 0px 11px 8px rgba(188, 0, 0, 0.7);
    background-color: #951111;
}

.language-picker-form__select option {
	background-color: #fff;
    color: #000;
}