
@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoRegular.woff") format("woff"),
		 url("../fonts/RobotoRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoMedium.woff") format("woff"),
		 url("../fonts/RobotoMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoBold.woff") format("woff"),
		 url("../fonts/RobotoBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoBlack.woff") format("woff"),
		 url("../fonts/RobotoBlack.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeueRegular.woff") format("woff"),
		 url("../fonts/BebasNeueRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeueBold.woff") format("woff"),
		 url("../fonts/BebasNeueBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}





/* Desktop */
/* Все размеры, относящиеся к тексту рассчитываются на основе этого */
html {
	font-size: 17px;
}

body {
	background-color: #151414;

	font-family: Roboto, Tahoma, Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.706rem; /*12px*/
	line-height: 0.882rem; /*15px*/
	color: rgba(255, 255, 255, 0.7);
}

.main-heading {
	margin: 0;

	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 1.412rem; /*24px*/
	line-height: 1.765rem; /*30px*/
	text-transform: uppercase;
	letter-spacing: 0.03rem; /*0.03em=3%*/
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}

/* Tablet S */
@media (min-width: 576px) {
	body {
		font-size: 0.941rem; /*16px*/
		line-height: 1.118rem; /*19px*/
	}

	.main-heading {
		font-size: 2.824rem; /*48px*/
		line-height: 3.588rem; /*61px*/
	}
}

/* Tablet */
@media (min-width: 768px) {
	body {
		font-size: 1rem; /*17px*/
		line-height: 1.176rem; /*20px*/
	}

	.main-heading {
		font-size: 3.412rem; /*58px*/
		line-height: 4.294rem; /*73px*/
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	/* Наследует шрифтовые свойства от tablet*/
}




/* Фон с мужиком
решила привязать к контейнеру, чтоб он не разъезжался от центра на широких экранах */
/* А также денюшки */

/* Таблет */
@media (min-width: 768px) {
	.about {
		background-image: url("../img/money_3_1x.png");
		background-repeat: no-repeat;
		background-position: right -100px bottom 230px;
		background-size: 206px 201px;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.features .inner-container_large {
		position: relative;
	}

	.features .inner-container_large::before {
		position: absolute;
		z-index: -5;
		top: -135px;
		left: -100px;
		width: 932px;
		height: 2196px;

		background-image: url("../img/big_man_new.png");
		background-repeat: no-repeat;
		background-position: left top;
		background-size: auto 2196px;

		content: "";
	}

	/* Денюшки */

	/*.features .inner-container_large {
		background-image: url("../img/money_1_1x_rotated.png");
		background-repeat: no-repeat;
		background-position: right 0 bottom 410px;
		background-size: 206px 201px;
	}*/

	.traders .inner-container_medium {
		position: relative;
	}

	.traders .inner-container_medium::before {
		position: absolute;
		z-index: -5;
		top: 60px;
    	left: -130px;
		width: 145px;
		height: 117px;

		background-image: url("../img/money_2_1x.png");
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 145px 117px;

		content: "";
	}

	.about .inner-container_large {
		position: relative;
	}

	.about .inner-container_large::before {
		position: absolute;
		z-index: -5;
		right: 45px;
	    bottom: -180px;
		width: 206px;
		height: 201px;

		background-image: url("../img/money_3_1x.png");
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 206px 201px;

		content: "";
	}

	.about {
		background-image: none;
	}
}





/* Контейнеры */
.inner-container_large {
		margin: 0 auto;

	    width: 100%; /**/

	    padding: 0 30px; /**/
}

.inner-container_small {
		margin: 0 auto;

	    width: 100%; /**/

	    padding: 0 30px;
}

.inner-container_medium {
		margin: 0 auto;

	    width: 100%; /**/

	    padding: 0 40px; /**/
}

/* Tablet S */
@media (min-width: 576px) {
	.inner-container_large {
		margin: 0 auto;

	    width: 100%; /**/
	    max-width: 580px; /**/

	    padding: 0 15px;
	}

	.inner-container_small {
		margin: 0 auto;

	    width: 100%; /**/
	    max-width: 480px;

	    padding: 0 15px;
	}

	.inner-container_medium {
		margin: 0 auto;

	    width: 100%; /**/
	    max-width: 460px;

	    padding: 0 15px;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.inner-container_large {
		margin: 0 auto;

	    width: 95%; /**/
	    max-width: 890px; /**/

	    padding: 0 15px;
	}

	.inner-container_small {
		margin: 0 auto;

	    width: 65%; /**/
	    max-width: 600px;

	    padding: 0 15px;
	}

	.inner-container_medium {
		margin: 0 auto;

	    width: 85%; /**/
	    max-width: 800px;

	    padding: 0 15px;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.inner-container_large {
		margin: 0 auto;

	    /*width: 1200px;*/
	    width: 95%; /**/
	    max-width: 1200px; /**/

	    padding: 0 15px;
	}

	.inner-container_small {
		margin: 0 auto;

	    /*width: 800px;*/
	    width: 65%;
	    max-width: 800px;

	    padding: 0 15px;
	}

	.inner-container_medium {
		margin: 0 auto;

	    /*width: 1000px;*/
	    width: 80%; /*79.2%*/
	    max-width: 1000px;

	    padding: 0 15px;
	}
}






/* Доступно прячет текст */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* Фиксит z-index'ы для AOS */
.aos-fix[data-aos].aos-animate {
	transform: unset;
}

/*[data-aos] {
	pointer-events: none;
}

[data-aos].aos-animate {
	pointer-events: auto;
}*/

/*[data-aos],
[data-aos].aos-animate {
	transform-style: preserve-3d;
}*/



/* Кнопки-ссылки */
.main-link {
		display: inline-block;
		padding: 12px 20px;
		border: 3px solid #BC0000;
		border-radius: 28px;

		color: inherit;
		text-decoration: none;
	    text-transform: uppercase;
	    letter-spacing: 0.07rem; /*0.07em=7%*/
}

.main-link:hover {
	    text-decoration: none;
		color: rgba(255, 255, 255, 0.9);
}

.main-link:hover,
.main-link:focus {
		-webkit-box-shadow: 0px 0px 5px 5px rgba(188, 0, 0, 0.7),
	    			inset 0px 0px 5px 5px rgba(188, 0, 0, 0.7);
		        box-shadow: 0px 0px 5px 5px rgba(188, 0, 0, 0.7),
	    			inset 0px 0px 5px 5px rgba(188, 0, 0, 0.7);
	    color: rgba(255, 255, 255, 0.9);
}

.main-link:active {}

/* Tablet S */
@media (min-width: 576px) {
	.main-link {
		/*padding: 20px 35px;*/
		padding: 17px 30px;
	}
}





/* Анимационные параметры */

@keyframes resize {
	0% {
		transform: scale(1);
	}
	
	100% {
		transform: scale(1.3);
	}
}

/* END OF Анимационные параметры */



/* Blur */

/*.index-body-blur img:nth-child(1),
.index-body-blur img:nth-child(2),
.index-body-blur img:nth-child(3),
.index-body-blur img:nth-child(4) {
	display: none;
}*/

@media (min-width: 992px) {
	/*.index-body {
		background-image: url("../img/blur_red.png");
		background-repeat: no-repeat;
		background-position: top 4100px right 0;
		background-size: 360px 1700px;
	}*/
/*	.main-content {
		position: relative;
	}

	.index-body-blur img:nth-child(1),
	.index-body-blur img:nth-child(2),
	.index-body-blur img:nth-child(3),
	.index-body-blur img:nth-child(4) {
		display: block;
		position: absolute;
		z-index: -20;
	}

	.index-body-blur img:nth-child(1) {
		top: 4100px;
	    right: 0;
	    width: 360px;
	    height: 1700px;
	}

	.index-body-blur img:nth-child(2) {
		top: 4640px;
	    right: 0;
	    width: 380px;
	    height: 1500px;
	}

	.index-body-blur img:nth-child(3) {
		top: 5530px;
	    left: 0;
	    width: 300px;
	    height: 1760px;
	    transform: scale(-1, 1);
	}

	.index-body-blur img:nth-child(4) {
		top: 6000px;
	    left: 0;
	    width: 300px;
	    height: 1570px;
	    transform: scale(-1, 1);
	}*/
}