@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoRegular.woff") format("woff"),
		 url("../fonts/RobotoRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoMedium.woff") format("woff"),
		 url("../fonts/RobotoMedium.woff") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoBold.woff") format("woff"),
		 url("../fonts/RobotoBold.woff") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeueBold.woff") format("woff"),
		 url("../fonts/BebasNeueBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

body {
	background-color: #151414;

	font-family: Roboto, Tahoma, Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.063rem;
	line-height: 1.25rem;
	color: rgba(255, 255, 255, 0.7);
}

.main-heading {
	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 3.63rem;
	line-height: 4.58rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-align: center;
}

.inner-container_large {
	margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

.inner-container_small {
	margin: 0 auto;
    width: 800px;
    padding: 0 15px;
}

.inner-container_medium {
	margin: 0 auto;
    width: 1000px;
    padding: 0 15px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* Кнопки-ссылки */
.main-link {
	display: inline-block;
	padding: 20px 35px;
	border: 3px solid #BC0000;
	border-radius: 28px;

	color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.main-link:hover {
    text-decoration: none;
	color: inherit;
}

.main-link:hover,
.main-link:focus {
	box-shadow: 0px 0px 5px 5px rgba(188, 0, 0, 0.7),
    			inset 0px 0px 5px 5px rgba(188, 0, 0, 0.7);
}

.main-link:active {}