@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoRegular.woff") format("woff"),
		 url("../fonts/RobotoRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoMedium.woff") format("woff"),
		 url("../fonts/RobotoMedium.woff") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/RobotoBold.woff") format("woff"),
		 url("../fonts/RobotoBold.woff") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeueBold.woff") format("woff"),
		 url("../fonts/BebasNeueBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

body {
	background-color: #151414;

	font-family: Roboto, Tahoma, Arial, Helvetica, Verdana, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.063rem;
	line-height: 1.25rem;
	color: rgba(255, 255, 255, 0.7);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}