.traders {}

.main-content__traders {
	margin-bottom: 375px;
}

.traders .main-heading {}

.traders__heading {
	margin-bottom: 95px;
}

.traders__content {
	position: relative;
}

.cases-switcher {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.traders__cases-switcher {
	margin-bottom: 175px;
}

.cases-switcher__item {}

.cases-switcher__link {
	padding: 5px 30px 0;

	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 2.118rem; /*36px*/
	line-height: 2.647rem; /*45px*/
	letter-spacing: 0.03rem; /*0.03em=3%*/
	text-decoration: none;
	color: inherit; 
}

.cases-switcher__link:hover {
	color: inherit;
	text-decoration: none;
}

.cases-switcher__link:focus {}

.cases-switcher__link:active {}

.cases-switcher__link_active {
	border: 3px solid #BC0000;
	border-radius: 28px;

	box-shadow: 0px 0px 10px 1px rgba(188, 0, 0, 0.7), 
				inset 0px 0px 5px 0px rgba(188, 0, 0, 0.7);

	cursor: default;
}

.cases {}

.cases-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 55%;
	
	list-style: none;
}

.cases__cases-list {
	margin-left: auto;
	margin-right: auto;
}

.case {}

.case__logo {
	margin-bottom: 2px;

	vertical-align: middle; /* reboot bootstrap */
}

.case__info {
	border-collapse: collapse; /* reboot bootstrap */
}

.case__info td {
	padding: 5px 6px;
}

.case__info td:first-child {
	color: rgba(255, 255, 255, 0.5);
}

.cases-controls {
	display: flex;
	justify-content: space-between;
}

.cases__cases-controls {
	margin-top: -70px;
}

.cases-controls__prev,
.cases-controls__next {}

.cases-controls__arrow {
	fill: #3100BC;
	filter: drop-shadow(0px 0px 5px #3100BC);

	cursor: pointer;
}

.cases-controls__next .cases-controls__arrow {
	transform: scale(-1, 1);
}

.traders .main-link {}

.traders__link {
	position: absolute;
    top: -12px;
    right: 0;
}