/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 versions,>1%
*/

	.traders {}

	.main-content__traders {
		margin-bottom: 200px;
	}

	.traders .main-heading {}

	.traders__heading {
		margin-bottom: 30px;
	}

	.traders__content {}

	.cases-switcher {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin: 0;
		padding: 0;

		list-style: none;
	}

	.traders__cases-switcher {
		margin-bottom: 85px;
	}

	.cases-switcher__item {}

	.cases-switcher__link {
		margin-right: 20px;
		padding: 3px 20px 0;

		font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
		font-weight: 700;
		font-size: 1.412rem; /*24px*/
		line-height: 1.765rem; /*30px*/
		letter-spacing: 0.03rem; /*0.03em=3%*/
		text-decoration: none;
		color: inherit; 
	}

	.cases-switcher__item:last-child .cases-switcher__link {
		margin-right: 0;
	}

	.cases-switcher__link:hover {
		color: inherit;
		text-decoration: none;
	}

	.cases-switcher__link:focus {}

	.cases-switcher__link:active {}

	.cases-switcher__link_active {
		/*border: 3px solid #BC0000;*/
		border-radius: 28px;

		/*box-shadow: 0px 0px 10px 1px rgba(188, 0, 0, 0.7), 
					inset 0px 0px 5px 0px rgba(188, 0, 0, 0.7);*/
		-webkit-box-shadow: 0 0 0 3px #BC0000, 
					0px 0px 10px 6px rgba(188, 0, 0, 0.7), 
					inset 0px 0px 5px 0px rgba(188, 0, 0, 0.7);
		        box-shadow: 0 0 0 3px #BC0000, 
					0px 0px 10px 6px rgba(188, 0, 0, 0.7), 
					inset 0px 0px 5px 0px rgba(188, 0, 0, 0.7);

		cursor: default;
	}

	.cases {}

	.cases-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly; /**/
		margin: 0;
		padding: 0;
		width: 100%; /**/
		
		list-style: none;
	}

	.cases__cases-list {}

	.case {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
	}

	.case:last-child {
		display: none;
	}

	.case__logo {
		margin-bottom: 2px;
		max-width: 110px;
		height: auto;

		vertical-align: middle; /* reboot bootstrap */
	}

	.case__info {
		border-collapse: collapse; /* reboot bootstrap */

		font-size: 0.824rem; /*14px;*/
    	line-height: 0.941rem; /*16px;*/
	}

	.case__info td {
		padding: 5px 6px;
	}

	.case__info td:first-child {
		color: rgba(255, 255, 255, 0.5);
	}

	.cases-controls {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.cases__cases-controls {
		margin-top: -65px;
	}

	.cases-controls__prev,
	.cases-controls__next {
		padding: 0;
		border: none;

	    background: transparent;
	    
	    cursor: pointer;
	}

	.cases-controls__arrow {
		width: 35px;

		fill: #3100BC;
		-webkit-filter: drop-shadow(0px 0px 5px #3100BC);
		        filter: drop-shadow(0px 0px 5px #3100BC);

		/*cursor: pointer;*/
	}

	.cases-controls__next .cases-controls__arrow {
		-webkit-transform: scale(-1, 1);
		    -ms-transform: scale(-1, 1);
		        transform: scale(-1, 1);
	}

	.traders .main-link {}

	.traders__link {
		display: none;
	}






/* Tablet S */
@media (min-width: 576px) {
	.main-content__traders {
		margin-bottom: 285px;
	}
	
	.traders__heading {
		margin-bottom: 60px;
	}

	.traders__cases-switcher {
		margin-bottom: 145px;
	}

	.cases-switcher__link {
		font-size: 2.118rem; /*36px*/
		line-height: 2.647rem; /*45px*/
	}

	.case__logo {
		margin-bottom: 5px;
		max-width: 132px;
	}

	.case__info {
		font-size: 1rem; /*17px*/
    	line-height: 1.176rem; /*20px*/
	}

	.cases__cases-controls {
		margin-top: -70px;
	}

	.cases-controls__arrow {
		width: 43.5px;
	}
}

/* Tablet */
@media (min-width: 768px) {
	.main-content__traders {
		margin-bottom: 410px;
	}

	.traders__heading {
		margin-bottom: 95px;
	}

	.traders__content {
		position: relative;
	}

	.cases-switcher {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.traders__cases-switcher {
		margin-bottom: 190px;
	}

	.case:last-child {
		display: block;
	}

	.traders__link {
		position: absolute;
	    top: -12px;
	    right: 0;

	    display: inline-block;
	}
}

/* Desktop normal */
@media (min-width: 992px) {
	.traders__heading {
		margin-bottom: 105px;
	}
}