.cases {
	margin: 0;
	padding: 0;
	list-style: none;
}

.cases__group-title {
	padding: 5px 30px 0;

	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.82rem;
	letter-spacing: 0.1rem;
	color: inherit;
}

.cases__group-title:hover {
	color: inherit;
	text-decoration: none;
}

.main-link:focus {}

.main-link:active {}

.cases__group-title_active {
	border: 3px solid rgba(188, 0, 0, 0.6);
	border-radius: 28px;
	box-shadow: 0px 0px 10px 1px rgba(188, 0, 0, 0.7), 
				inset 0px 0px 5px 0px rgba(188, 0, 0, 0.7)
}

.cases__group-details {
	margin: 0;
	padding: 0;
	list-style: none;
}

.case__info td {
	padding: 9px 6px;
}