.main-content__traders {
	margin-top: 202px;
}

.traders__heading {
	margin-bottom: 93px;
}

.traders__content {
	position: relative;
}

.traders__link {
	position: absolute;
    top: -12px;
    right: 0;
}

.cases-switcher {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
}

/*.cases {
	margin: 0;
	padding: 0;
	list-style: none;
}*/

/*.cases__group-title {
	padding: 5px 30px 0;

	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.82rem;
	letter-spacing: 0.1rem;
	color: inherit;
}*/

/*.cases__group-title:hover {
	color: inherit;
	text-decoration: none;
}*/

.cases-switcher__link {
	padding: 5px 30px 0;

	font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.82rem;
	letter-spacing: 0.1rem;
	color: inherit;
}

.cases-switcher__link:hover {
	color: inherit;
	text-decoration: none;
}

.main-link:focus {}

.main-link:active {}

/*.cases__group-title_active {
	border: 3px solid #BC0000;
	border-radius: 28px;
	box-shadow: 0px 0px 10px 1px rgba(188, 0, 0, 0.7), 
				inset 0px 0px 5px 0px rgba(188, 0, 0, 0.7)
}
*/
.cases-switcher__link_active {
	border: 3px solid #BC0000;
	border-radius: 28px;
	box-shadow: 0px 0px 10px 1px rgba(188, 0, 0, 0.7), 
				inset 0px 0px 5px 0px rgba(188, 0, 0, 0.7);
}

/*.cases__group-details {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	width: 55%;
    justify-content: space-between;
    margin: 176px auto 0;
}*/

.cases {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	width: 55%;
    justify-content: space-between;
    margin: 176px auto 0;
}

.case__logo {
	margin-bottom: 2px;
}

.case__info td {
	padding: 5px 6px;
}