.user-area-history-content {
	overflow: hidden;
    padding-top: 200px;
    margin-top: -200px;
}

.user-history-trans {
	order: 2;
	width: 200%;
}

.user-area-history-content__trans {
	margin-bottom: 117px;
}

.user-history-trans__wrapper {
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*flex-wrap: wrap;
    justify-content: center;*/
    width: 100%;

    padding: 51px 40px 82px;
    background: rgba(21, 20, 20, 0.95);
    border-radius: 83px;
}

.user-history-trans__wrapper::before {
	position: absolute;
    z-index: -20;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    background-image: url(../img/user-careeer-partners-blur.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    background-size: 100% 90%;
    content: "";
}

.user-history-trans__content {
	width: 55%;
    max-width: 280px;
}

.user-history-trans__content-block {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 55px;
}

.user-history-trans__content-block:nth-of-type(2) {
	margin-top: 0;
}

.user-history-trans__content-block:last-child {
	border: none;
}

.user-history-trans__content-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}

.user-history-trans__content-titles,
.user-history-trans__content-info {
	width: 40%;
}

.user-history-trans__content-titles {
	font-size: 0.941rem; /*16px;*/
	line-height: 1.118rem; /*19px;*/
	letter-spacing: 0.03rem;
	color: rgba(255, 255, 255, 0.7);
}

.user-history-trans__content-info {
	font-size: 0.824rem; /*14px;*/
	/*line-height: 0.941rem;*/ /*16px;*/
	line-height: 1.118rem; /*19px;*/
	letter-spacing: 0.03rem;
	color: rgba(255, 255, 255, 0.5);
}

.user-history-trans__status_success {
	color: #178C15;
}

.user-history-trans__pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 65%;
    max-width: 330px;

	margin: 0;
	padding: 0;
	list-style: none;
}

.user-history-trans__pagination li:first-child {
	margin-right: 5px;
}

.user-history-trans__pagination li:last-child {
	margin-left: 5px;
}

.user-history-trans__pagination-link {
	font-size: 1.059rem; /*18px;*/
	line-height: 1.235rem; /*21px;*/
	text-align: center;
	letter-spacing: 0.03rem;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.user-history-trans__pagination-link:hover {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.user-history-trans__pagination-item {
	/*padding: 5px;*/
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-history-trans__pagination-item_active {
	background: rgba(196, 196, 196, 0.1);
}

.user-history-trans__pagination-item_active .user-history-trans__pagination-link {
	cursor: default;
}

.user-history-trans__pagination-item_disabled .user-history-trans__pagination-link {
	cursor: default;
}

.user-history-trans__arrow {
	width: 35px;
    fill: #3100BC;
    -webkit-filter: drop-shadow(0px 0px 5px #3100BC);
    filter: drop-shadow(0px 0px 5px #3100BC);
}

.user-history-trans__arrow_next {
	transform: scale(-1, 1);
}

.user-history-trans__content-titles-block {
	display: none;
}




@media (min-width: 576px) {
	.user-area-history-content .user-nav {
		margin-top: 0;
	}

	.user-area-history-content__trans {
		margin-top: 40px;
		margin-bottom: 137.37px;
	}

	.user-history-trans__wrapper {
		padding: 52px 60.5px 54.5px;
	}

	.user-history-trans__wrapper::before {
		background-size: 85% 85%;
	}

	.user-history-trans__content {
		width: 100%;
		max-width: none;
	}

	.user-history-trans__content-titles-block {
		display: block;
		margin-bottom: 40px;
	}

	.user-history-trans__content-titles-row {
		display: flex;
    	justify-content: space-between;
	} 

	.user-history-trans__content-titles-row span {
		text-align: center;
	}

	.user-history-trans__content-row {
		justify-content: center;
	}

	.user-history-trans__content-titles-row span:nth-child(1),
	.user-history-trans__content-row:nth-child(1) {
		width: 23%;
	}

	.user-history-trans__content-titles-row span:nth-child(2),
	.user-history-trans__content-row:nth-child(2) {
		width: 20%;
	}

	.user-history-trans__content-titles-row span:nth-child(3),
	.user-history-trans__content-titles-row span:nth-child(5),
	.user-history-trans__content-row:nth-child(3),
	.user-history-trans__content-row:nth-child(5) {
		width: 18%;
	}

	.user-history-trans__content-titles-row span:nth-child(4),
	.user-history-trans__content-row:nth-child(4) {
		width: 21%;
	}

	.user-history-trans__content-row:nth-child(1),
	.user-history-trans__content-row:nth-child(2),
	.user-history-trans__content-row:nth-child(3),
	.user-history-trans__content-row:nth-child(4),
	.user-history-trans__content-row:nth-child(5) {
		text-align: center;
	}

	.user-history-trans__content-block .user-history-trans__content-row {
		margin-bottom: 0;
	}

	.user-history-trans__content-block .user-history-trans__content-titles {
		display: none;
	}

	.user-history-trans__content-titles, .user-history-trans__content-info {
		width: auto;
	}

	.user-history-trans__content-block {
		border: none;
		margin: 0;
		margin-bottom: 20px;
	}

	.user-history-trans__content-titles {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.user-history-trans__pagination {
		margin-top: 20px;
		max-width: none;
		width: 75%;
	}
}




@media (min-width: 768px) {
	.user-area-history-content .user-nav {
		order: 1;
	}

	.user-area-history-content__trans {
		margin-top: 95px;
		margin-bottom: 148px;
	}

	.user-history-trans__wrapper {
		padding: 61.5px 63.5px 67.5px;
	}

	.user-history-trans__content-titles {
		font-size: 1.412rem; /*24px;*/
		line-height: 1.647rem; /*28px;*/
	}

	.user-history-trans__content-info {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.user-history-trans__content-titles-block {
		margin-bottom: 51px;
	}

	.user-history-trans__content-block {
		margin-bottom: 35px;
	}

	.user-history-trans__pagination {
	    max-width: 350px;
	}

	.user-area-history-content .user-nav {
		width: unset;
	}

	.user-area-history-content .breadcrumbs + .inner-container_large {
		align-items: center;
	}
}




@media (min-width: 992px) {
	.user-area-history-content .user-nav {
		width: 98%;
	}

	.user-history-trans {
		width: 75%;
	    margin-left: auto;
	}

	.user-area-history-content__trans {
		margin-top: -370px;
		margin-bottom: 185px;
	}
}