.user-news-item {
	width: 246.06px;
	padding: 46.78px 10.53px 47.65px;
	background: rgba(21, 20, 20, 0.95);
	border-radius: 83px;
	
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user-news-item[data-shadow="purple"] {
	box-shadow: 0 0 40px 0 rgba(128, 0, 188, 0.6);
}

.user-news-item[data-shadow="red"] {
	box-shadow: 0 0 40px 0 rgba(191, 45, 45, 0.7);
}

.user-news-item__title {
	display: flex;
    flex-direction: column;
}

.user-news-item__title,
.user-news-item__text-prew {
	max-width: 149px;

	font-weight: 400;
	font-size: 1.059rem; /*18px;*/
	line-height: 1.235rem; /*21px;*/
	text-align: center;
	letter-spacing: 0.03rem;
	color: rgba(255, 255, 255, 0.7);
}

.user-news-item__date,
.user-news-item__text-prew {
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	color: rgba(255, 255, 255, 0.5);
}

.user-news-item__img {
	width: 100%;
	height: 84px;
	border-radius: 17px;
	overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-news-item__img img {
	width: 100%;
    height: auto;
    border-radius: 17px;
}

.user-news-item__btn {
	position: relative;
	z-index: 20;
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	text-align: center;
	letter-spacing: 0.07rem;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;

	border: 2px solid rgba(188, 0, 0, 0.5);
	border-radius: 28px;
	padding: 7.5px 19px 9px;
}

.user-news-item__btn:hover {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.user-news-item__title,
.user-news-item__img, 
.user-news-item__text-prew {
	margin-bottom: 7px;
}



.user-news-item__content {
	display: none;
}




.user-area-news-content {
	position: relative;
    overflow: hidden;
    padding-top: 200px;
    margin-top: -200px;

	background-image: url(../img/user-area-news-blur_mobile.png);
    background-size: contain;
    background-position: top center;
    background-repeat: repeat-y;
}

.user-news {
	order: 2;
}

.user-area-news-conten__user-news {
	margin-bottom: 97.71px;
}

.user-news__user-news-item {
	margin-bottom: 35px;
}





.user-area-news-content .anim-circle {
	position: absolute;

	border-radius: 50%;
	border: 2px solid rgba(210, 207, 221, 0.3);
		
	animation-name: resize;
	animation-duration: 1.8s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.user-area-news-content .anim-circle-1 {
	z-index: -20;
	width: 176px;
    height: 176px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	top: 170px;
    left: 190px;
}

.user-area-news-content .anim-circle-2 {
	width: 141px;
    height: 141px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	top: 520px;
    left: -60px;
    animation-duration: 2.2s;
	animation-delay: 0.9s;
}

.user-area-news-content .anim-circle-3 {
	z-index: -20;
	width: 141px;
    height: 141px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	top: 1050px;
    left: 260px;
}

.user-area-news-content .anim-circle-4 {
	z-index: -20;
	width: 91px;
    height: 91px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	top: 1440px;
    left: 40px;
    animation-duration: 2.2s;
	animation-delay: 0.9s;
}

.user-area-news-content .anim-circle-5 {
	z-index: -20;
	width: 57px;
    height: 57px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	top: 1950px;
    left: 260px;
}

.user-area-news-content .anim-circle-6 {
	z-index: -20;
	width: 208px;
    height: 208px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	top: 2240px;
    left: 40px;
    animation-duration: 2.2s;
	animation-delay: 0.9s;
}






@media (min-width: 576px) {
	.user-area-news-content {
		background-image: url(../img/user-area-news-blur.png);
		background-position: top 500px center;
	    background-repeat: repeat-y;
	    background-size: 160% auto;
	    padding-top: 300px;
	    margin-top: -300px;
	}

	.user-news-item {
		width: 345.21px;
		padding: 45.29px 7.6px 33.29px;
	}

	.user-news-item__title {
		font-size: 1.412rem; /*24px;*/
		line-height: 1.647rem; /*28px;*/
	}

	.user-news-item__date,
	.user-news-item__text-prew {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.user-news-item__title,
	.user-news-item__img,
	.user-news-item__text-prew {
		margin-bottom: 10px;
	}

	.user-news-item__img {
		border-radius: 0;
		height: 157px;
	}

	.user-news-item__img img {
		border-radius: 0;
	}

	.user-news-item__btn {
		font-size: 1rem; /*17px;*/
		line-height: 1.176rem; /*20px;*/

		padding: 12px 33px 13px;
		/*margin-right: 25px;*/
	}

	.user-news-item__title,
	.user-news-item__text-prew {
		max-width: 193px;
		text-align: left;
	}



	.user-area-news-content .user-nav {
		margin-top: 0;
	}

	.user-news {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
	}

	.user-area-news-conten__user-news {
		margin-top: 40px;
		margin-bottom: 112.21px;
	}

	.user-news__user-news-item {
		margin-bottom: 48.5px;
	}

	.user-news-item[data-shadow="purple"] {
		box-shadow: 0 0 60px 0 rgba(128, 0, 188, 0.6);
	}

	.user-news-item[data-shadow="red"] {
		box-shadow: 0 0 60px 0 rgba(191, 45, 45, 0.7);
	}




	.user-area-news-content .anim-circle-1 {
		width: 202px;
    	height: 202px;
    	top: 870px;
    	left: 340px;
	}

	.user-area-news-content .anim-circle-2 {
		top: 1320px;
	    left: 30px;
	    z-index: -20;
	}

	.user-area-news-content .anim-circle-3 {
		width: 266px;
    	height: 266px;
    	top: 1730px;
    	left: 80px;
	}

	.user-area-news-content .anim-circle-4 {
		border: 2px solid #3100BC;
		box-shadow: 0 0 15px 0 #3100BC,
				inset 0 0 15px 0 #3100BC;
		width: 257px;
    	height: 257px;
    	top: 2270px;
    	left: 310px;
	}

	.user-area-news-content .anim-circle-5 {
		width: 116px;
    	height: 116px;
    	top: 2470px;
    	left: 530px;
	}

	.user-area-news-content .anim-circle-6 {
		border: 2px solid #401059;
		box-shadow: 0 0 15px 0 #401059,
				inset 0 0 15px 0 #401059;
		width: 278px;
    	height: 278px;
    	top: 3090px;
    	left: -10px;
	}
}





@media (min-width: 768px) {
	.user-area-news-content {
		background-repeat: no-repeat;
	    background-size: contain;
	    padding-top: 200px;
	    margin-top: -200px;
	}

	.user-area-news-content .user-nav {
		order: 1;
		width: unset;
	}

	.user-news {
		flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    align-items: flex-start;
	}

	.user-area-news-conten__user-news {
		margin-top: 95px;
		margin-bottom: 83px;
	}

	.user-news__user-news-item {
		margin-bottom: 83.5px;
	}


	.user-area-news-content .anim-circle-1 {
		width: 141px;
	    height: 141px;
	    top: 920px;
    	left: 880px;
	}

	.user-area-news-content .anim-circle-4 {
		width: 333px;
	    height: 333px;
	    top: 1300px;
    	left: -110px;
	}

	.user-area-news-content .anim-circle-6 {
		top: 1990px;
    	left: 630px;
	}

	.user-area-news-content .anim-circle-2 {
		top: 120px;
    	left: 30px;
	}

	.user-area-news-content .anim-circle-3 {
		top: 230px;
    	left: 80px;
	}

	.user-area-news-content .anim-circle-5 {
		top: 210px;
    	left: 730px;
    	animation-duration: 2s;
		animation-delay: 0.5s;
	}


}






@media (min-width: 992px) {
	.user-area-news-content {
		background-position: top 100px left -100px;
    	background-repeat: repeat-y;
	}

	.user-area-news-content .user-nav {
		width: 98%;
	}

	.user-news {
		width: 75%;
	}

	.user-area-news-conten__user-news {
		margin-left: auto;
    	margin-top: -370px;
    	margin-bottom: 117px;
	}




	.user-area-news-content .anim-circle-1 {
		width: 283px;
	    height: 283px;
	    top: auto;
	    bottom: 320px;
    	left: 100px;
    	border: 2px solid rgba(255, 255, 255, 0.05);
	}

	.user-area-news-content .anim-circle-4 {
		top: 830px;
    	left: 160px;
	}

	.user-area-news-content .anim-circle-6 {
		top: 1360px;
    	left: 1040px;
	}

	.user-area-news-content .anim-circle-2 {
		width: 482px;
	    height: 482px;
		top: auto;
		bottom: 0;
    	left: -270px;
	}

	.user-area-news-content .anim-circle-3 {
		width: 153px;
	    height: 153px;
		top: 1110px;
    	left: 80px;
	}

	.user-area-news-content .anim-circle-5 {
		width: 158px;
	    height: 158px;
		top: 510px;
    	left: 1160px;
	}
}


/*@media (min-width: 1020px) {
	.user-news {
		justify-content: space-between;
	}
}*/