.user-news-item {
	width: 246.06px;
	padding: 46.78px 10.53px 47.65px;
	background: rgba(21, 20, 20, 0.95);
	border-radius: 83px;
	
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user-news-item[data-shadow="purple"] {
	box-shadow: 0 0 40px 0 rgba(128, 0, 188, 0.6);
}

.user-news-item[data-shadow="red"] {
	box-shadow: 0 0 40px 0 rgba(191, 45, 45, 0.7);
}

.user-news-item__title {
	display: flex;
    flex-direction: column;
}

.user-news-item__title,
.user-news-item__text-prew {
	max-width: 149px;

	font-weight: 400;
	font-size: 1.059rem; /*18px;*/
	line-height: 1.235rem; /*21px;*/
	text-align: center;
	letter-spacing: 0.03rem;
	color: rgba(255, 255, 255, 0.7);
}

.user-news-item__date,
.user-news-item__text-prew {
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	color: rgba(255, 255, 255, 0.5);
}

.user-news-item__img {
	width: 100%;
	height: 84px;
	border-radius: 17px;
	overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-news-item__img img {
	width: 100%;
    height: auto;
    border-radius: 17px;
}

.user-news-item__btn {
	font-size: 0.824rem; /*14px;*/
	line-height: 0.941rem; /*16px;*/
	text-align: center;
	letter-spacing: 0.07rem;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;

	border: 2px solid rgba(188, 0, 0, 0.5);
	border-radius: 28px;
	padding: 7.5px 19px 9px;
}

.user-news-item__btn:hover {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.user-news-item__title,
.user-news-item__img, 
.user-news-item__text-prew {
	margin-bottom: 7px;
}



.user-news-item__content {
	display: none;
}






@media (min-width: 576px) {
	.user-news-item {
		width: 345.21px;
		padding: 45.29px 7.6px 33.29px;
	}

	.user-news-item__title {
		font-size: 1.412rem; /*24px;*/
		line-height: 1.647rem; /*28px;*/
	}

	.user-news-item__date,
	.user-news-item__text-prew {
		font-size: 1.059rem; /*18px;*/
		line-height: 1.235rem; /*21px;*/
	}

	.user-news-item__title,
	.user-news-item__img,
	.user-news-item__text-prew {
		margin-bottom: 10px;
	}

	.user-news-item__img {
		border-radius: 0;
		height: 157px;
	}

	.user-news-item__img img {
		border-radius: 0;
	}

	.user-news-item__btn {
		font-size: 1rem; /*17px;*/
		line-height: 1.176rem; /*20px;*/

		padding: 12px 33px 13px;
		margin-right: 25px;
	}

	.user-news-item__title,
	.user-news-item__text-prew {
		max-width: 193px;
		text-align: left;
	}
}





@media (min-width: 768px) {
	.user-news-item[data-shadow="purple"] {
		box-shadow: 0 0 60px 0 rgba(128, 0, 188, 0.6);
	}

	.user-news-item[data-shadow="red"] {
		box-shadow: 0 0 60px 0 rgba(191, 45, 45, 0.7);
	}

}