
.documents-header .logo {
  visibility: hidden;
}

.document {
}

.documents-content__document {
  margin-bottom: 80px;
}

.document .inner-container_medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents-content .main-heading {
  max-width: 200px;

  font-size: 1.059rem; 
  line-height: 1.294rem; 
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.document__title {
  margin-bottom: 20px;
}

.document__figure {
  position: relative;

  -webkit-box-ordinal-group: 5;

      -ms-flex-order: 4;

          order: 4;

  margin: 0;
  margin-bottom: 17px;

  width: 290px;
}

.document__figure::after {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1.43px;

  background: #E5E5E5;

  content: "";
}

.document__link {
  position: absolute;
  z-index: 25;
  bottom: 0;
  right: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26.26px;
  height: 21.96px;
  border-radius: 14px;

  background: rgba(49, 0, 188, 0.26);
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(188, 0, 0, 0.51)),
    to(rgba(49, 0, 188, 0.39))
  );
  background: -o-linear-gradient(
    top,
    rgba(188, 0, 0, 0.51) 0%,
    rgba(49, 0, 188, 0.39) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(188, 0, 0, 0.51) 0%,
    rgba(49, 0, 188, 0.39) 100%
  );
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  text-decoration: none;
  color: transparent;
}

.document__link:hover {
  text-decoration: none;
  color: transparent;
}

.document__link img {
  width: 14.8px;
  height: auto;
}

.document:nth-of-type(1) .document__link {
  right: 25px;
  bottom: 165px;
}

.document:nth-of-type(2) .document__link {
  right: 25px;
  bottom: 172px;
}

.document:nth-of-type(3) .document__link {
  left: 5px;
  bottom: 122px;
}

.document:nth-of-type(4) .document__link {
  right: 14px;
  bottom: 98px;
}

.document__img {
  height: auto;
  width: 100%;
}

.document__text {
  margin: 0;
  margin-bottom: 17px;

  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.document__text:last-child {
  margin: 0;

  -webkit-box-ordinal-group: 6;

      -ms-flex-order: 5;

          order: 5;
}

.documents-back {
  position: relative;
  overflow-x: hidden;

  background-image: url("../img/documents_blur_1_1.png"),
    url("../img/documents_blur_2.png");

}

.triangle {
  position: absolute;
  left: 0;
  top: 1190px;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.triangle div {
  position: absolute;
  left: 210px;
  top: -120px;
  width: 1000px;
  height: 1000px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(137.59deg);
      -ms-transform: rotate(137.59deg);
          transform: rotate(137.59deg);
  opacity: 0.2;
}

.document-anim-circle-1,
.document-anim-circle-2 {
  display: none;
}

@media (min-width: 576px) {
  .document {
    padding: 0 50px;
  }

  .documents-content__document {
    margin-bottom: 125px;
  }

  .documents-content__document:last-child {
    margin-bottom: 160px;
  }

  .document .inner-container_medium {
    display: block;
    max-width: 580px;
    padding: 0 25px;
  }

  .documents-content .main-heading {
    max-width: 260px;

    font-size: 1.412rem; 
    line-height: 1.706rem; 
    text-align: left;
  }

  .document_content_right .main-heading {
    text-align: right;
  }

  .document_content_right .document__title {
    margin-left: auto;
  }

  .document__figure {
    float: right;
    margin-bottom: 50px;
  }

  .document_content_right .document__figure {
    float: left;
  }

  .document__text {
    font-size: 0.824rem; 
    line-height: 0.941rem;
    text-align: left;
  }

  .document_content_right .document__text {
    text-align: right;
  }

  .triangle {
    opacity: 1;
    height: 1450px;
    top: 1290px;
  }

  .triangle div {
    top: 210px;
  }
}

@media (min-width: 768px) {
  .document {
    padding: 0 60px;
  }

  .documents-content__document {
    margin-bottom: 130px;
  }

  .documents-content__document:last-child {
    margin-bottom: 210px;
  }

  .document .inner-container_medium {
    max-width: 890px;
    padding: 0 15px;
    width: 95%;
  }

  .documents-content .main-heading {
    max-width: 390px;

    font-size: 2.118rem; 
    line-height: 2.529rem; 
  }

  .document__figure {
    margin-bottom: 90px;
    width: 380px;
  }

  .document__link {
    width: 44.14px;
    height: 36.92px;
  }

  .document:nth-of-type(1) .document__link {
    right: 34px;
    bottom: 209px;
  }

  .document:nth-of-type(2) .document__link {
    right: 31px;
    bottom: 216px;
  }

  .document:nth-of-type(3) .document__link {
    left: 10px;
    bottom: 150px;
  }

  .document:nth-of-type(4) .document__link {
    right: 20px;
    bottom: 119px;
  }

  .document__link img {
    width: 24.88px;
  }

  .document__text {
    font-size: 1rem; 
    line-height: 1.176rem; 
  }

  .triangle {
    height: 2500px;
    top: 800px;
  }

  .triangle div {
    width: 2000px;
    height: 2000px;
    left: 411px;
  }
}

@media (min-width: 992px) {
  .document {
    padding: 0;
  }

  .documents-content__document {
    margin-bottom: 150px;
  }

  .document .inner-container_medium {
    width: 74%;
    max-width: 980px;
  }

  .document__figure {
    margin-bottom: 40px;
    width: 450px;
  }

  .document__link {
    width: 50px;
    height: 41px;
  }

  .document:nth-of-type(1) .document__link {
    right: 37px;
    bottom: 250px;
  }

  .document:nth-of-type(2) .document__link {
    right: 36px;
    bottom: 261px;
  }

  .document:nth-of-type(3) .document__link {
    left: 10px;
    bottom: 182px;
  }

  .document:nth-of-type(4) .document__link {
    right: 23px;
    bottom: 144px;
  }

  .document__link img {
    width: 29px;
  }

  .triangle {
    left: 35%;
    top: 560px;

    z-index: -50;
  }

  .triangle div {
    background: rgba(21, 20, 21, 0.33);
  }

  .document {
    position: relative;
  }

  .document-anim-circle-1,
  .document-anim-circle-2 {
    position: absolute;

    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.08);

    -webkit-animation-name: resize;

            animation-name: resize;
    -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }

  .document-anim-circle-1 {
    left: 60px;
    bottom: 40px;
  }

  .document-anim-circle-2 {
    right: 100px;
    bottom: -130px;
  }

  .documents-back {
    background-size: 100% auto;
    background-position: top 0 center;
  }
}