
.user-area-upgrade-content {
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  margin-top: -200px;
}

.user-upgrade {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.user-area-upgrade-content__user-upgrade {
  margin-top: 38.5px;
  padding-bottom: 88.5px;
  margin-bottom: 57.5px;
  border-bottom: 3px solid rgba(188, 0, 0, 0.2);
}

.user-upgrade-with-btn {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.user-area-upgrade-content__user-upgrade-with-btn {
  margin-bottom: 109px;
}

.user-upgrade__title {
  margin-bottom: 69px;
  font-family: "Bebas Neue", "Arial Narrow", "Century Gothic", Helvetica, Tahoma,
    sans-serif;
  font-weight: 400;
  font-size: 1.059rem;
  line-height: 1.294rem;
  text-align: center;
  letter-spacing: 0.07rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.user-upgrade__wrap-block {
  display: none;
}

.user-area-upgrade-content .anim-circle {
  position: absolute;

  border-radius: 50%;
  border: 2px solid rgba(210, 207, 221, 0.3);

  -webkit-animation-name: resize;

          animation-name: resize;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.user-area-upgrade-content .anim-circle-1 {
  z-index: -20;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(250, 150, 1, 0.5);
  top: 570px;
  left: 30px;
  -webkit-box-shadow: 0 0 15px 0 rgba(250, 150, 1, 0.5),
    inset 0 0 15px 0 rgba(250, 150, 1, 0.5);
          box-shadow: 0 0 15px 0 rgba(250, 150, 1, 0.5),
    inset 0 0 15px 0 rgba(250, 150, 1, 0.5);
}

.user-area-upgrade-content .anim-circle-2 {
  z-index: -20;
  width: 145px;
  height: 145px;
  border: 2px solid rgba(210, 207, 221, 0.3);
  top: 1100px;
  left: 260px;
  -webkit-box-shadow: 0 0 15px 0 rgba(210, 207, 221, 0.3),
    inset 0 0 15px 0 rgba(210, 207, 221, 0.3);
          box-shadow: 0 0 15px 0 rgba(210, 207, 221, 0.3),
    inset 0 0 15px 0 rgba(210, 207, 221, 0.3);
}

.user-area-upgrade-content .anim-circle-3 {
  width: 55px;
  height: 55px;
  border: 2px solid rgba(255, 255, 255, 0.07);
  top: 1660px;
  left: 30px;
}

.user-area-upgrade-content .anim-circle-4 {
  width: 145px;
  height: 145px;
  border: 2px solid rgba(255, 255, 255, 0.07);
  top: 1660px;
  left: 80px;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.user-area-upgrade-content .anim-circle-5 {
  z-index: -20;
  width: 85px;
  height: 85px;
  border: 2px solid #732BBB;
  top: 2260px;
  left: 230px;
  -webkit-box-shadow: 0 0 15px 0 #732BBB, inset 0 0 15px 0 #732BBB;
          box-shadow: 0 0 15px 0 #732BBB, inset 0 0 15px 0 #732BBB;
}

.user-area-upgrade-content .anim-circle-6 {
  width: 175px;
  height: 175px;
  border: 2px solid rgba(255, 255, 255, 0.07);
  bottom: 0px;
  left: 80px;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@media (min-width: 576px) {
  .user-area-upgrade-content__user-upgrade {
    margin-top: 43.5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 128px;
    margin-bottom: 72px;
  }

  .user-upgrade__title {
    margin-bottom: 50px;
    font-size: 1.412rem;
    line-height: 1.706rem;
  }

  .user-upgrade-with-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .user-area-upgrade-content .anim-circle-1 {
    top: 530px;
    left: 530px;
  }

  .user-area-upgrade-content .anim-circle-2 {
    top: 1100px;
    left: 40px;
  }

  .user-area-upgrade-content .anim-circle-3 {
    top: 1860px;
    left: 30px;
  }

  .user-area-upgrade-content .anim-circle-4 {
    top: 1860px;
    left: 80px;
  }

  .user-area-upgrade-content .anim-circle-5 {
    top: 2460px;
    left: 510px;
  }

  .user-area-upgrade-content .anim-circle-6 {
    bottom: 20px;
    left: 80px;
  }
}

@media (min-width: 768px) {
  .user-upgrade__wrap-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 373px;
  }

  .user-upgrade__title {
    width: 373px;
    text-align: left;
    padding-left: 35px;
  }

  .user-upgrade {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .user-area-upgrade-content__user-upgrade {
    margin-top: -895px;
    padding-bottom: 50px;
  }

  .user-upgrade-with-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .user-area-upgrade-content__user-upgrade-with-btn {
    margin-bottom: 57px;
  }

  .user-area-upgrade-content .user-area-content__user-data {
    margin-right: auto; 
  }

  .user-area-upgrade-content .anim-circle-1 {
    width: 145px;
    height: 145px;
    top: 480px;
    left: 280px;
  }

  .user-area-upgrade-content .anim-circle-2 {
    width: 237px;
    height: 237px;
    top: 1100px;
    left: 740px;
  }

  .user-area-upgrade-content .anim-circle-3 {
    width: 144px;
    height: 144px;
    top: 1720px;
    left: 30px;
  }

  .user-area-upgrade-content .anim-circle-4 {
    width: 479px;
    height: 479px;
    top: 1860px;
    left: 780px;
  }

  .user-area-upgrade-content .anim-circle-5 {
    width: 237px;
    height: 237px;
    top: 1530px;
    left: 10px;
  }

  .user-area-upgrade-content .anim-circle-6 {
    width: 144px;
    height: 144px;
    bottom: 30px;
    left: 680px;
  }
}

@media (min-width: 768px) and (max-width: 835px) {
  .user-area-upgrade-content__user-upgrade {
    margin-top: 110px;
  }

  .user-area-upgrade-content .user-area-content__user-data {
    margin-right: unset;
  }
}

@media (min-width: 992px) {
  .user-area-upgrade-content__user-upgrade {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 798px;
    margin-left: auto;
    margin-top: -898px;
    padding-bottom: 5.5px;
  }

  .user-upgrade__wrap-block {
    display: none;
  }

  .user-upgrade__title {
    width: 100%;
  }

  .user-upgrade-with-btn {
    width: 798px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .user-area-upgrade-content__user-upgrade-with-btn {
    margin-left: auto;
    margin-bottom: 68.5px;
  }

  .user-area-upgrade-content .anim-circle-1 {
    top: 650px;
    left: 40px;
  }

  .user-area-upgrade-content .anim-circle-2 {
    top: 930px;
    left: 380px;
  }

  .user-area-upgrade-content .anim-circle-3 {
    top: 1220px;
    left: 730px;
    -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }

  .user-area-upgrade-content .anim-circle-4 {
    top: 1760px;
    left: 780px;
  }

  .user-area-upgrade-content .anim-circle-5 {
    top: 1690px;
    left: 1010px;
  }

  .user-area-upgrade-content .anim-circle-6 {
    bottom: 330px;
    left: 1180px;
  }

  .user-area-upgrade-content {
    background-image: url(../img/user-area-main-blur.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 992px) and (max-width: 1225px) {
  .user-area-upgrade-content__user-upgrade {
    margin-top: -895px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .user-upgrade__wrap-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .user-upgrade__title {
    width: 373px;
  }

  .user-upgrade-with-btn {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}